@charset "UTF-8";
/* font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700;1,900&display=swap");
/*--- その他のscssファイルを読み込む------------------------------------*/
/*=============================================
　　色関連
==============================================*/
/*white*/
/*black*/
/*blue*/
/*=============================================
　　フォント関連
==============================================*/
/*=============================================
　　その他
==============================================*/
/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  border: none;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
  /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  max-width: 100%;
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

a {
  text-decoration: none;
}

/*--- baseのscssファイルを読み込む------------------------------------*/
/*=============================================
　　基本設定
==============================================*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Sans", "ヒラギノ角ゴ", Meiryo UI, "メイリオ UI", Meiryo, "メイリオ", Arial, Helvetica, "MS PGothic", "ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  color: #000;
  position: relative;
  letter-spacing: 0.08em;
  padding-top: 70px;
}

a {
  color: #000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
a:hover {
  color: #00256B;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.sp-on {
  display: none;
}

.pc-on {
  display: block;
}

@media (max-width: 768px) {
  .pc-on {
    display: none;
  }
  .sp-on {
    display: block;
  }
}
/*======== 幅指定 ========*/
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }
  .wrapper {
    width: 94%;
    margin: 0 auto;
  }
}
.clearfix {
  overflow: hidden;
  zoom: 1;
}

@media (min-width: 751px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
.fadeIn_up {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.fadeIn_up.is-show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.fadeIn_up01 {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: 1s;
  transition: 1s;
}
.fadeIn_up01.is-show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 1;
}

.fadeIn_up02 {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: 1s;
  transition: 1s;
}
.fadeIn_up02.is-show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.fadeIn_up03 {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: 1s;
  transition: 1s;
}
.fadeIn_up03.is-show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
  opacity: 1;
}

.fade01 {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.fade01.is-show {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.fade02 {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.fade02.is-show {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.fade03 {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.fade03.is-show {
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.fade04 {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.fade04.is-show {
  opacity: 1;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.rotate01.is-show {
  -webkit-animation: rotateInDownLeft 1s;
          animation: rotateInDownLeft 1s;
}

.swing01.is-show {
  -webkit-animation: swing 1s;
          animation: swing 1s;
}

@media (max-width: 768px) {
  .fadeIn_up {
    opacity: 0;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .fadeIn_up.is-show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  .fadeIn_up01 {
    opacity: 0;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .fadeIn_up01.is-show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 1;
  }
  .fadeIn_up02 {
    opacity: 0;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .fadeIn_up02.is-show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 1;
  }
  .fadeIn_up03 {
    opacity: 0;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .fadeIn_up03.is-show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 1;
  }
  .fade01 {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .fade01.is-show {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .fade02 {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .fade02.is-show {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .fade03 {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .fade03.is-show {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .fade04 {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .fade04.is-show {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
}
header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .wrapper {
  padding: 15px 0 6px;
}
header .wrapper .logo {
  float: left;
}
header .wrapper .logo a ul li {
  display: inline-block;
  vertical-align: middle;
}
header .wrapper .logo a ul li.logo_img {
  width: 134.5px;
}
header .wrapper .logo a ul li.logo_img img {
  width: 100%;
}
header .wrapper .logo a ul li.logo_txt h1 {
  font-size: 1.2rem;
  color: #000;
  padding: 10px 0 0 3px;
}
header .wrapper .gnav {
  float: right;
}
header .wrapper .gnav li {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  margin-right: 40px;
}
header .wrapper .gnav li a {
  padding-top: 35px;
  display: block;
  position: relative;
}
header .wrapper .gnav li a::before {
  content: "";
  position: absolute;
}
header .wrapper .gnav li.top a::before {
  background: url(../cmn-img/ico/ico-home.svg) no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  margin-left: -16px;
  width: 31px;
  height: 28px;
}
header .wrapper .gnav li.testdrive a::before {
  background: url(../cmn-img/ico/ico-testdrive.svg) no-repeat;
  background-size: cover;
  top: 3px;
  left: 50%;
  margin-left: -20px;
  width: 41px;
  height: 23px;
}
header .wrapper .gnav li.company a::before {
  background: url(../cmn-img/ico/ico-company.svg) no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 27px;
}
header .wrapper .gnav li.contact {
  margin-right: 0;
}
header .wrapper .gnav li.contact a::before {
  background: url(../cmn-img/ico/ico-contact.svg) no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 33px;
  height: 31px;
}
header .wrapper .gnav li.news a::before {
  background: url(../cmn-img/ico/ico-news.svg) no-repeat;
  background-size: cover;
  top: 2px;
  left: 50%;
  margin-left: -18px;
  width: 33px;
  height: 26px;
}
header .wrapper .gnav li.swallow a::before {
  background: url(../cmn-img/ico/ico-swallow.svg) no-repeat;
  background-size: cover;
  top: 4px;
  left: 50%;
  margin-left: -18px;
  width: 35px;
  height: 23px;
}
header .wrapper .gnav li.recruit a::before {
  background: url(../cmn-img/ico/ico-recruit.svg) no-repeat;
  background-size: cover;
  top: 2px;
  left: 50%;
  margin-left: -15px;
  width: 31px;
  height: 31px;
}
header.shadow {
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

#navbtn {
  display: none;
}

/*======== TABLET ========*/
/*========== SP ==========*/
@media (max-width: 768px) {
  header {
    height: 50px;
  }
  header .wrapper {
    padding: 10px 0 6px;
  }
  header .wrapper .logo {
    float: none;
    width: 250px;
    position: relative;
    z-index: 100;
  }
  header .wrapper .logo a ul li.logo_img {
    width: 80px;
  }
  header .wrapper .logo a ul li.logo_txt h1 {
    font-size: 1rem;
  }
  header .wrapper .gnav {
    float: none;
  }
  header .wrapper .gnav ul {
    width: 100%;
    padding-top: 80px;
  }
  header .wrapper .gnav ul li {
    display: inherit;
    font-size: 1.4rem;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    border-bottom: dashed 1px #00256B;
  }
  header .wrapper .gnav ul li a {
    position: inherit;
    padding: 20px 0 20px 50%;
    margin-left: -70px;
  }
  header .wrapper .gnav ul li a::before {
    content: none;
    position: inherit;
  }
  header .wrapper .gnav ul li a span {
    position: relative;
    padding-left: 60px;
  }
  header .wrapper .gnav ul li a span::before {
    content: "";
    position: absolute;
  }
  header .wrapper .gnav ul li.top a span::before {
    background: url(../cmn-img/ico/ico-home.svg) no-repeat;
    background-size: cover;
    top: -5px;
    left: 5px;
    width: 31px;
    height: 28px;
  }
  header .wrapper .gnav ul li.testdrive a span::before {
    background: url(../cmn-img/ico/ico-testdrive.svg) no-repeat;
    background-size: cover;
    top: -3px;
    left: 0;
    width: 41px;
    height: 23px;
  }
  header .wrapper .gnav ul li.company a span::before {
    background: url(../cmn-img/ico/ico-company.svg) no-repeat;
    background-size: cover;
    top: -5px;
    left: 10px;
    width: 26px;
    height: 27px;
  }
  header .wrapper .gnav ul li.contact {
    margin: 0 auto;
  }
  header .wrapper .gnav ul li.contact a span::before {
    background: url(../cmn-img/ico/ico-contact.svg) no-repeat;
    background-size: cover;
    top: -5px;
    left: 5px;
    width: 33px;
    height: 31px;
  }
  header .wrapper .gnav ul li.news {
    margin: 0 auto;
  }
  header .wrapper .gnav ul li.news a span::before {
    background: url(../cmn-img/ico/ico-news.svg) no-repeat;
    background-size: cover;
    top: -5px;
    left: 1px;
    width: 33px;
    height: 26px;
  }
  header .wrapper .gnav ul li.swallow {
    margin: 0 auto;
  }
  header .wrapper .gnav ul li.swallow a span::before {
    background: url(../cmn-img/ico/ico-swallow.svg) no-repeat;
    background-size: cover;
    top: -3px;
    left: 2px;
    width: 35px;
    height: 23px;
  }
  header .wrapper .gnav ul li.recruit {
    margin: 0 auto;
  }
  header .wrapper .gnav ul li.recruit a span::before {
    background: url(../cmn-img/ico/ico-recruit.svg) no-repeat;
    background-size: cover;
    top: -5px;
    left: 7px;
    width: 31px;
    height: 31px;
  }
  header .wrapper .box {
    border: 5px solid #00256B;
    border-radius: 20px;
    padding: 20px 0;
    width: 80%;
    margin: 40px auto 0;
  }
  header .wrapper .box p {
    color: #00256B;
  }
  header .wrapper .box p.tit {
    font-size: 1.5rem;
    text-align: center;
  }
  header .wrapper .box p.number {
    font-weight: 800;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.04em;
    font-style: italic;
  }
  header .wrapper .box p.number span {
    position: relative;
    padding-left: 35px;
  }
  header .wrapper .box p.number span::before {
    content: "";
    background: url(../cmn-img/ico/ico-contact_tel02.svg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 36px;
    height: 34px;
    top: 2px;
    left: 0;
  }
  header .wrapper .box p.number span a {
    color: #00256B;
  }
  header .wrapper .box p.txt {
    text-align: center;
    font-size: 1rem;
  }
  /*-----MENU-----*/
  .gnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F1F4F9;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #navbtn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    outline: none;
    border: none;
    background: #00256B;
    padding: 13px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  #navbtn::before,
  #navbtn::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #fff;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  #navbtn::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
    -webkit-box-shadow: 0 8px #fff;
            box-shadow: 0 8px #fff;
  }
  .open #navbtn {
    z-index: 100;
  }
  .open #navbtn::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .open #navbtn::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .open .gnav {
    visibility: visible;
    opacity: 1;
  }
}
body section.shop_info {
  padding: 70px 0 0;
  background: #F1F4F9;
}
body section.shop_info h2 {
  text-align: center;
  color: #00256B;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-style: italic;
}
body section.shop_info .img_txt {
  padding-top: 30px;
}
body section.shop_info .img_txt .imgbox {
  width: 50%;
  float: left;
}
body section.shop_info .img_txt .txtbox {
  width: 48%;
  float: right;
}
body section.shop_info .img_txt .txtbox p.tit {
  font-size: 2.4rem;
  font-weight: 700;
}
body section.shop_info .img_txt .txtbox p.txt01 {
  font-size: 1.3rem;
  padding-top: 10px;
  font-weight: 500;
}
body section.shop_info .img_txt .txtbox .info p.mintit {
  color: #fff;
  margin: 20px auto 10px;
}
body section.shop_info .img_txt .txtbox .info p.mintit span {
  background: #00256B;
  border-radius: 50px;
  padding: 7px 20px;
}
body section.shop_info .img_txt .txtbox .info p.txt {
  font-size: 1.3rem;
  font-weight: 500;
}
body section.shop_info .recruit_bnr {
  margin: 40px auto 50px;
}
body section.shop_info .map iframe {
  width: 100%;
  height: 350px;
  vertical-align: bottom;
}
body footer {
  background: #00256B;
  padding: 50px 0 30px;
}
body footer .logo_nav .logo {
  float: left;
}
body footer .logo_nav .logo ul li {
  display: inline-block;
  vertical-align: middle;
}
body footer .logo_nav .logo ul li.logo_img {
  width: 134.5px;
}
body footer .logo_nav .logo ul li.logo_img img {
  width: 100%;
}
body footer .logo_nav .logo ul li.logo_txt {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 7px;
  padding-top: 15px;
}
body footer .logo_nav ul.nav {
  float: right;
}
body footer .logo_nav ul.nav li {
  display: inline-block;
  font-size: 1.2rem;
  padding-left: 30px;
  font-weight: 500;
  letter-spacing: 0.04em;
}
body footer .logo_nav ul.nav li a {
  color: #fff;
}
body footer .copyright {
  text-align: right;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.06em;
}

/*======== TABLET ========*/
/*========== SP ==========*/
@media (max-width: 768px) {
  body section.shop_info {
    padding: 45px 0 0;
  }
  body section.shop_info .img_txt {
    padding-top: 20px;
  }
  body section.shop_info .img_txt .imgbox {
    width: 100%;
    float: none;
  }
  body section.shop_info .img_txt .txtbox {
    width: 100%;
    float: none;
    margin-top: 10px;
  }
  body section.shop_info .img_txt .txtbox p.tit {
    font-size: 2rem;
  }
  body section.shop_info .img_txt .txtbox p.txt01 {
    padding-top: 10px;
  }
  body section.shop_info .img_txt .txtbox p.txt01 a {
    color: #000;
  }
  body section.shop_info .img_txt .txtbox .info p.mintit {
    margin: 20px auto 10px;
  }
  body section.shop_info .img_txt .txtbox .info p.txt {
    font-size: 1.3rem;
  }
  body section.shop_info .recruit_bnr {
    margin: 30px auto;
  }
  body section.shop_info .map iframe {
    height: 250px;
  }
  body footer {
    padding: 35px 0 20px;
  }
  body footer .logo_nav .logo {
    float: none;
    text-align: center;
  }
  body footer .logo_nav .logo ul li {
    display: inherit;
  }
  body footer .logo_nav .logo ul li.logo_img {
    width: 100px;
    margin: 0 auto;
  }
  body footer .logo_nav .logo ul li.logo_txt {
    font-size: 1.2rem;
    padding-left: 0;
    padding-top: 0;
  }
  body footer .logo_nav ul.nav {
    float: none;
    margin-top: 30px;
  }
  body footer .logo_nav ul.nav li {
    display: inherit;
    font-size: 1.2rem;
    padding-left: 0;
    width: 48%;
    text-align: center;
    margin-bottom: 15px;
  }
  body footer .logo_nav ul.nav li a {
    display: block;
    border: 1px solid #fff;
    padding: 16px 0;
  }
  body footer .logo_nav ul.nav li:nth-child(odd) {
    float: left;
  }
  body footer .logo_nav ul.nav li:nth-child(even) {
    float: right;
  }
  body footer .copyright {
    text-align: center;
    padding-top: 35px;
  }
}
/*=============================================
　　共通パーツ
==============================================*/
body {
  /*-----タイトル-----*/
}
body h2.tit01 {
  text-align: center;
}
body h2.tit01 span.jp {
  font-size: 3.8rem;
  letter-spacing: 0.06em;
}
body h2.tit01 span.en {
  font-family: "Lato", sans-serif;
  font-style: italic;
  letter-spacing: 0.1em;
  font-size: 1.8rem;
}
body h3 {
  border-bottom: 3px solid #A5A5A5;
  position: relative;
  font-size: 2.2rem;
  color: #00256B;
  line-height: 1;
  padding-bottom: 7px;
}
body h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  background: #00256B;
  height: 5px;
  width: 200px;
}
body section {
  /*-----お問い合わせエリア-----*/
  /*-----フォーム-----*/
  /*-----キービジュアル-----*/
}
body section.contactArea {
  background: #00256B;
  color: #fff;
  padding: 60px 0 80px;
}
body section.contactArea .boxwrap {
  margin-top: 30px;
}
body section.contactArea .boxwrap .box {
  padding: 35px;
  border: 5px solid #fff;
  border-radius: 20px;
  width: 48%;
}
body section.contactArea .boxwrap .box p.tit {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 0.06em;
  font-weight: 700;
}
body section.contactArea .boxwrap .box.tel {
  float: left;
}
body section.contactArea .boxwrap .box.tel p.number {
  font-weight: 800;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 4.6rem;
  letter-spacing: 0.04em;
  font-style: italic;
}
body section.contactArea .boxwrap .box.tel p.number span {
  position: relative;
  padding-left: 40px;
}
body section.contactArea .boxwrap .box.tel p.number span::before {
  content: "";
  background: url(../cmn-img/ico/ico-contact_tel.svg) no-repeat;
  background-size: cover;
  width: 45px;
  height: 43px;
  position: absolute;
  top: 7px;
  left: 0;
}
body section.contactArea .boxwrap .box.tel p.number span a {
  color: #fff;
}
body section.contactArea .boxwrap .box.tel p.txt {
  text-align: center;
}
body section.contactArea .boxwrap .box.mail {
  float: right;
}
body section.contactArea .boxwrap .box.mail a {
  display: block;
  text-align: center;
  color: #fff;
  background: #00256B;
  padding: 16px 0;
  width: 100%;
  background: #0067B2;
  border-radius: 10px;
  font-size: 2.2rem;
  letter-spacing: 0.06em;
  margin-top: 10px;
  border: 3px solid #0067B2;
  position: relative;
}
body section.contactArea .boxwrap .box.mail a span {
  position: relative;
  padding-left: 30px;
}
body section.contactArea .boxwrap .box.mail a span::before {
  content: "";
  background: url(../cmn-img/ico/ico-contact_email.svg) no-repeat;
  background-size: cover;
  width: 32px;
  height: 24px;
  position: absolute;
  top: -2px;
  left: -6px;
}
body section.contactArea .boxwrap .box.mail a::after {
  content: "";
  background: url(../cmn-img/ico/ico-arrow.svg);
  width: 11px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
}
body section.contactArea .boxwrap .box.mail a:hover {
  background: #00256B;
}
body section form {
  background: #F1F4F9;
  padding: 60px;
  border-radius: 40px;
  margin-top: 50px;
}
body section form .kome {
  color: #D92E26;
  font-size: 1.1rem;
  font-weight: 500;
}
body section form table {
  width: 100%;
}
body section form table tr th {
  width: 30%;
  text-align: left;
  padding: 25px 15px 15px 0;
  vertical-align: text-top;
}
body section form table tr th.required span {
  position: absolute;
}
body section form table tr th.required span::after {
  content: "＊";
  color: #D92E26;
  font-size: 1.1rem;
  font-weight: 500;
  position: absolute;
  top: 5px;
  right: -15px;
}
body section form table tr td {
  width: 70%;
  padding: 15px 0 15px 15px;
}
body section form table tr td select, body section form table tr td input, body section form table tr td textarea {
  border: 2px solid #00256B;
  border-radius: 5px;
  padding: 5px 10px;
  background: #fff;
}
body section form table tr td .code-text {
  font-size: 1.3rem;
  margin-top: 5px;
}
body section form table tr td .selectbox {
  position: relative;
  width: 230px;
  display: block;
}
body section form table tr td .selectbox::after {
  content: "▼";
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 1.3rem;
  color: #00256B;
  pointer-events: none;
}
body section form table tr td .selectbox select {
  width: 230px;
}
body section form table tr td input.txt01 {
  width: 230px;
}
body section form table tr td input.txt02 {
  width: 100%;
}
body section form table tr td input.txt03 {
  width: 150px;
}
body section form table tr td textarea {
  width: 100%;
  height: 180px;
}
body section form table tr td label.about {
  line-height: 2;
}
body section form table tr td .detetime {
  float: left;
  width: 230px;
}
body section form table tr td .detetime:first-child {
  margin-right: 10px;
}
body section form table tr td .detetime .datebox {
  position: relative;
  overflow: hidden;
}
body section form table tr td .detetime .datebox::before {
  content: "";
  background: #00256B;
  height: 40px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
  pointer-events: none;
}
body section form table tr td .detetime .datebox::after {
  content: "";
  background: url(../cmn-img/ico/ico-calendar.svg) no-repeat;
  background-size: cover;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 12px;
  pointer-events: none;
}
body section form table tr td .detetime .timebox {
  position: relative;
  overflow: hidden;
}
body section form table tr td .detetime .timebox::before {
  content: "";
  background: #00256B;
  height: 40px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
  pointer-events: none;
}
body section form table tr td .detetime .timebox::after {
  content: "";
  background: url(../cmn-img/ico/ico-clock.svg) no-repeat;
  background-size: cover;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 10px;
  pointer-events: none;
}
body section form table tr td ul li.-radio-list-item {
  display: inline-block;
}
body section form table tr td.contact_radio ul li.-radio-list-item {
  display: inherit;
  margin-bottom: 5px;
}
body section form table .-error-message {
  color: #D92E26;
  font-size: 1.3rem;
  margin-top: 5px;
}
body section form .agree {
  padding-top: 20px;
}
body section form .agree p {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
}
body section form .agree p a {
  color: #00256B;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.2rem;
}
body section form .agree .check {
  margin: 15px auto 40px;
  text-align: center;
}
body section form .agree .check #-checked {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
}
body section form .contact-btn {
  width: 300px;
  margin: 0 auto;
}
body section form .contact-btn a.contact-btn-item {
  background: #00256B;
  color: #fff;
  text-align: center;
  display: block;
  padding: 20px 0;
  border: 2px solid #00256B;
  cursor: pointer;
}
body section form .contact-btn a.contact-btn-item.-stop {
  background: #F1F4F9;
  color: #00256B;
  cursor: inherit;
}
body section form.-confirm .contact-btn {
  width: 650px;
  margin: 40px auto 0;
}
body section form.-confirm .contact-btn a.contact-btn-item {
  width: 48%;
  background: #00256B;
  color: #fff;
  text-align: center;
  display: block;
  padding: 20px 0;
  border: 2px solid #00256B;
}
body section form.-confirm .contact-btn a.contact-btn-item:hover {
  background: #F1F4F9;
  color: #00256B;
}
body section form.-confirm .contact-btn a.contact-btn-item:hover:first-child {
  background: #F1F4F9;
  color: #666;
}
body section form.-confirm .contact-btn a.contact-btn-item:first-child {
  float: left;
  background: #666;
  border: 2px solid #666;
}
body section form.-confirm .contact-btn a.contact-btn-item:last-child {
  float: right;
}
body section.keyVisual {
  background: #00256B;
  padding: 90px 0 75px;
}
body section.keyVisual .titbox h2 {
  color: #fff;
  text-align: center;
}
body section.keyVisual .titbox h2 span.jp {
  font-size: 3.8rem;
  font-weight: 500;
}
body section.keyVisual .titbox h2 span.en {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-style: italic;
  letter-spacing: 0.1em;
}

/*======== TABLET ========*/
/*========== SP ==========*/
@media (max-width: 768px) {
  body {
    /*-----タイトル-----*/
  }
  body h2.tit01 {
    line-height: 1.2;
  }
  body h2.tit01 span.jp {
    font-size: 2.8rem;
  }
  body h2.tit01 span.en {
    font-size: 1.5rem;
  }
  body h3 {
    font-size: 1.8rem;
  }
  body h3::after {
    width: 100px;
  }
  body section {
    /*-----お問い合わせエリア-----*/
    /*-----フォーム-----*/
  }
  body section.contactArea {
    padding: 50px 0;
  }
  body section.contactArea .boxwrap {
    margin-top: 20px;
  }
  body section.contactArea .boxwrap .box {
    padding: 20px;
    width: 100%;
  }
  body section.contactArea .boxwrap .box p.tit {
    font-size: 1.8rem;
  }
  body section.contactArea .boxwrap .box.tel {
    float: none;
    margin-bottom: 20px;
  }
  body section.contactArea .boxwrap .box.tel p.number {
    font-size: 3.2rem;
  }
  body section.contactArea .boxwrap .box.tel p.number span {
    padding-left: 30px;
  }
  body section.contactArea .boxwrap .box.tel p.number span::before {
    width: 38px;
    height: 36px;
    top: 2px;
    left: 0;
  }
  body section.contactArea .boxwrap .box.tel p.txt {
    font-size: 1.2rem;
  }
  body section.contactArea .boxwrap .box.mail {
    float: none;
  }
  body section.contactArea .boxwrap .box.mail a {
    padding: 10px 0;
    font-size: 1.6rem;
  }
  body section form {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }
  body section form table tr th {
    display: block;
    width: 100%;
    padding: 15px 0 10px;
  }
  body section form table tr th.required span {
    position: relative;
  }
  body section form table tr th.required span::after {
    top: 0;
  }
  body section form table tr td {
    display: block;
    width: 100%;
    padding: 0;
  }
  body section form table tr td select, body section form table tr td input, body section form table tr td textarea {
    padding: 5px 10px;
  }
  body section form table tr td .select {
    width: 200px;
  }
  body section form table tr td input.txt02 {
    width: 100%;
  }
  body section form table tr td input.txt03 {
    width: 70%;
  }
  body section form table tr td textarea {
    width: 100%;
    height: 100px;
  }
  body section form table tr td .detetime {
    float: none;
    width: 230px;
  }
  body section form table tr td .detetime:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
  body section form .agree .check {
    margin-bottom: 20px;
  }
  body section form .contact-btn {
    width: 280px;
    margin-bottom: 20px;
  }
  body section form .contact-btn a.contact-btn-item {
    padding: 15px 0;
  }
  body section form.-confirm .contact-btn {
    margin: 20px auto;
    width: 280px;
  }
  body section form.-confirm .contact-btn a.contact-btn-item {
    width: 100%;
    padding: 15px 0;
  }
  body section form.-confirm .contact-btn a.contact-btn-item:first-child {
    float: none;
    margin-bottom: 10px;
  }
  body section form.-confirm .contact-btn a.contact-btn-item:last-child {
    float: none;
  }
  body section.keyVisual {
    padding: 60px 0 50px;
  }
  body section.keyVisual .titbox h2 {
    line-height: 1.2;
  }
  body section.keyVisual .titbox h2 span.jp {
    font-size: 2.8rem;
  }
  body section.keyVisual .titbox h2 span.en {
    font-size: 1.5rem;
  }
}
/*--- uniqのscssファイルを読み込む------------------------------------*/
/*==============================
　　　　　　トップページ
===============================*/
/*========== PC ==========*/
body section.mv .slider {
  margin-bottom: 0 !important;
}
body section.mv .slider .slide-dots {
  position: absolute;
  bottom: 0;
  left: 0;
}
body section.mv .slider .slide-dots li {
  display: inline-block;
  margin: 0 15px;
}
body section.mv .slider .slide-dots li button {
  position: relative;
  text-indent: -9999px;
}
body section.mv .slider .slide-dots li button:before {
  content: "";
  text-indent: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 5px;
  border: 1px solid #fff;
}
body section.mv .slider .slide-dots li.slick-active button:before {
  content: "";
  background: #fff;
}
body section.sec01 {
  background: url(../cmn-img/index/pickup_bg.png) repeat;
  background-color: #EDF4FF;
  padding: 60px 0 100px;
}
body section.sec01 .wrapper .news {
  text-align: center;
  width: 650px;
  margin: 110px auto 0;
  color: #00256B;
}
body section.sec01 .wrapper .news .tit {
  font-size: 2rem;
  padding-bottom: 10px;
}
body section.sec01 .wrapper .news .txt {
  padding: 15px 0;
  border-top: 3px dashed #00256B;
  border-bottom: 3px dashed #00256B;
}
body section.sec01 .wrapper .news .txt .txt01 {
  font-size: 1.8rem;
}
body section.sec01 .wrapper .news .txt .txt01 span {
  font-size: 1.7rem;
}
body section.sec01 .wrapper .news .txt .txt02 {
  font-size: 1.3rem;
  padding-top: 10px;
  letter-spacing: 0.1em;
}
body section.sec01 .wrapper h2.tit {
  font-family: "Lato", sans-serif;
  font-size: 3.8rem;
  color: #00256B;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-bottom: -5px;
  padding-left: 80px;
}
body section.sec01 .wrapper .flyer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}
body section.sec01 .wrapper .flyer_box .flyer {
  margin: 20px;
  max-width: 460px;
}
body section.sec01 .wrapper .bnr_box_outline {
  position: relative;
}
body section.sec01 .wrapper .bnr_box_outline .bnr_box {
  border: 3px solid #00256B;
  padding: 40px 70px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body section.sec01 .wrapper .bnr_box_outline .bnr_box .bnr {
  width: 23.5%;
  float: left;
  margin-right: 2%;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}
body section.sec01 .wrapper .bnr_box_outline .bnr_box .bnr:nth-child(4n) {
  margin-right: 0;
}
body section.sec01 .wrapper .bnr_box_outline .bnr_box .bnr a img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body section.sec01 .wrapper .bnr_box_outline .bnr_box .bnr a:hover img {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body section.sec01 .wrapper .bnr_box_outline .bnr_box::before {
  content: "";
  background: #fff;
  border: 3px solid #00256B;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
body section.sec01 .wrapper .bnr_box_outline .bnr_box::after {
  content: "";
  background: #00256B;
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
body section.sec01 .wrapper .bnr_box_outline::before {
  content: "";
  width: 65px;
  height: 55px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
body section.sec01 .wrapper .bnr_box_outline::after {
  content: "";
  background: url(../cmn-img/index/pickup_pin@2x.png);
  background-size: cover;
  width: 70px;
  height: 70px;
  position: absolute;
  top: -25px;
  left: -15px;
  z-index: 4;
}
body section.sec02 {
  background: #F1F4F9;
  padding: 70px 0 150px;
  position: relative;
}
body section.sec02 h2 {
  text-align: center;
  font-size: 4.6rem;
  font-weight: 800;
  color: #00256B;
  line-height: 2.3;
}
body section.sec02 h2 span {
  font-size: 3rem;
  background: #00256B;
  color: #fff;
  padding: 8px 20px;
}
body section.sec02 p.message {
  text-align: center;
  color: #00256B;
  line-height: 1.8;
  padding-top: 10px;
}
body section.sec02::after {
  content: "";
  background: url(../cmn-img/index/message_town_bg@2x.png) repeat-x;
  background-size: contain;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
body section.sec03 {
  background: #00256B;
  padding: 150px 0 20px;
}
body section.sec03 .cont-box {
  padding-bottom: 100px;
}
body section.sec03 .cont-box h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: 0.08em;
  padding-left: 40px;
}
body section.sec03 .cont-box h2 span {
  position: relative;
}
body section.sec03 .cont-box h2 span::before {
  content: "";
  background: url(../cmn-img/index/check_icon@2x.png);
  background-size: cover;
  width: 86px;
  height: 90px;
  position: absolute;
  top: -65px;
  left: -100px;
}
body section.sec03 .cont-box .step_wrap {
  margin-top: 60px;
}
body section.sec03 .cont-box .step_wrap .step {
  width: 23%;
  margin-right: 2%;
  float: left;
}
body section.sec03 .cont-box .step_wrap .step .number {
  width: 71px;
  margin: 0 auto;
}
body section.sec03 .cont-box .step_wrap .step .number img {
  width: 100%;
}
body section.sec03 .cont-box .step_wrap .step .img {
  margin-bottom: 10px;
}
body section.sec03 .cont-box .step_wrap .step .img img {
  width: 100%;
}
body section.sec03 .cont-box .step_wrap .step p {
  color: #fff;
  font-weight: 500;
}
body section.sec03 .cont-box .step_wrap .step p.txt01 {
  margin-bottom: 20px;
}
body section.sec03 .cont-box .step_wrap .step p.txt02 {
  font-size: 1.3rem;
}
body section.sec03 .cont-box .step_wrap .step:last-child {
  margin-right: 0;
}
body section.sec03 .cont-box .box_wrap {
  padding-top: 60px;
}
body section.sec03 .cont-box .box_wrap .box {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 40px 30px;
  width: 48%;
  float: left;
  position: relative;
}
body section.sec03 .cont-box .box_wrap .box p {
  color: #fff;
  letter-spacing: 0.06em;
  font-weight: 500;
}
body section.sec03 .cont-box .box_wrap .box p.tit {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  width: 300px;
  position: absolute;
  top: -22px;
  left: 50%;
  margin-left: -150px;
  background: #0067B2;
  padding: 9px 25px;
  border-radius: 4px;
  line-height: 1;
}
body section.sec03 .cont-box .box_wrap .box p.txt {
  font-size: 1.6rem;
  padding: 0 0 30px;
}
body section.sec03 .cont-box .box_wrap .box:nth-child(even) {
  float: right;
}
body section.sec03 .cont-box p.text {
  color: #fff;
  padding-top: 40px;
  font-size: 1.3rem;
  font-weight: 500;
}
body section.sec04 {
  padding: 100px 0 120px;
  background: #F1F4F9;
}
body section.sec04 h2 {
  color: #00256B;
  margin-bottom: 45px;
}
body section.sec04 .tab-group {
  border-bottom: 4px solid #00256B;
}
body section.sec04 .tab-group .tab {
  padding: 15px 0 10px;
  text-align: center;
  cursor: pointer;
  width: 49%;
  float: left;
  font-size: 2.2rem;
  line-height: 1;
  border-radius: 10px 10px 0 0;
  border: 3px solid #00256B;
  color: #00256B;
}
body section.sec04 .tab-group .tab:nth-child(even) {
  float: right;
}
body section.sec04 .tab-group .tab.is-active {
  background: #00256B;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body section.sec04 .badges {
  text-align: right;
  padding: 20px 0 15px;
}
body section.sec04 .badges li {
  display: inline-block;
  position: relative;
  margin-left: 25px;
  font-size: 1.4rem;
}
body section.sec04 .badges li::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -1px;
  left: -23px;
}
body section.sec04 .badges li.new::before {
  background: url(../cmn-img/ico/ico-badge_new.svg);
  background-size: cover;
}
body section.sec04 .badges li.eco::before {
  background: url(../cmn-img/ico/ico-badge_eco.svg);
  background-size: cover;
}
body section.sec04 .badges li.suv::before {
  background: url(../cmn-img/ico/ico-badge_suv.svg);
  background-size: cover;
}
body section.sec04 .panel-group {
  border-top: none;
}
body section.sec04 .panel-group .panel {
  display: none;
}
body section.sec04 .panel-group .panel.is-show_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body section.sec04 .panel-group .panel .box {
  padding: 20px;
  border-radius: 10px;
  width: 32%;
  margin-right: 2%;
  border: 3px solid #00256B;
  position: relative;
  float: left;
  margin-bottom: 30px;
  background: #fff;
}
body section.sec04 .panel-group .panel .box:nth-child(3n) {
  margin-right: 0;
}
body section.sec04 .panel-group .panel .box p.tit {
  text-align: center;
  font-size: 1.7rem;
  padding-top: 10px;
}
body section.sec04 .panel-group .panel .box .img {
  width: 280px;
  max-width: 100%;
  margin: 15px auto 20px;
}
body section.sec04 .panel-group .panel .box .txtwrap p.mintit {
  color: #00256B;
  border-bottom: 2px solid #00256B;
  margin-bottom: 5px;
  font-size: 1.4rem;
}
body section.sec04 .panel-group .panel .box .txtwrap p.txt {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 1.3rem;
}
body section.sec04 .panel-group .panel .box .txtwrap p.txt:last-child {
  padding-bottom: 0;
}
body section.sec04 .panel-group .panel .box ul.badge {
  position: absolute;
  top: 8px;
  right: 8px;
}
body section.sec04 .panel-group .panel .box ul.badge li {
  display: inline-block;
  width: 20px;
}
body section.sec04 .panel-group .panel .box ul.badge li img {
  width: 100%;
}
body section.sec04 .panel-group p.btmtxt {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 20px;
}
body section.sec05 {
  background: #0067B2;
  padding: 100px 0 120px;
}
body section.sec05 h2 {
  color: #fff;
}
body section.sec05 form {
  margin-top: 30px;
}
body section.sec06 {
  background: url(../cmn-img/index/pickup_bg.png) repeat;
  background-color: #EDF4FF;
  padding: 80px 0;
}
body section.sec06 .box {
  width: 48%;
  background: #fff;
  border: 1px solid #DEDEDE;
  padding: 30px 0;
}
body section.sec06 .box p {
  text-align: center;
  color: #00256B;
}
body section.sec06 .box a::after {
  content: "";
  background: url(../cmn-img/ico/ico-arrow.svg);
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
}
body section.sec06 .instagram {
  float: left;
}
body section.sec06 .instagram p {
  margin-bottom: 10px;
}
body section.sec06 .instagram .icon {
  width: 35px;
  margin: 0 auto 10px;
}
body section.sec06 .instagram .img {
  width: 300px;
  margin: 0 auto 15px;
}
body section.sec06 .instagram .button {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  width: 353px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
body section.sec06 .instagram .button::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 130%;
  background: radial-gradient(#ffdb2c 0%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 90%);
  z-index: 0;
}
body section.sec06 .instagram .button:hover {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
body section.sec06 .instagram .button a {
  display: block;
  color: #fff;
  padding: 15px 0;
  z-index: 1;
  position: relative;
}
body section.sec06 .carsensor {
  float: right;
}
body section.sec06 .carsensor p {
  margin-bottom: 20px;
}
body section.sec06 .carsensor .img {
  width: 333px;
  margin: 0 auto 20px;
}
body section.sec06 .carsensor .button a {
  display: block;
  text-align: center;
  color: #fff;
  background: #FF5100;
  border-radius: 8px;
  width: 353px;
  margin: 0 auto;
  padding: 15px 0;
  border: 2px solid #FF5100;
  position: relative;
}
body section.sec06 .carsensor .button a:hover {
  background: #fff;
  color: #FF5100;
}
body section.sec06 .carsensor .button a:hover::after {
  background: url(../cmn-img/ico/ico-arrow02.svg);
}
body section.sec07 {
  background: url(../cmn-img/index/bg_01.png) repeat;
  background-size: 16px;
  background-color: #fff;
  padding: 120px 0 110px;
}
body section.sec07 h2 {
  font-size: 3.8rem;
  letter-spacing: 0.06em;
  text-align: center;
  color: #00256B;
}
body section.sec07 p.mintit {
  text-align: center;
  font-weight: 1.8rem;
  font-weight: 500;
  color: #00256B;
  padding-top: 10px;
}
body section.sec07 .boxwrap {
  padding: 50px 0 30px;
}
body section.sec07 .boxwrap .box {
  border: 4px solid #00256B;
  border-radius: 10px;
  width: 49%;
  float: left;
  padding: 30px;
  margin-bottom: 20px;
}
body section.sec07 .boxwrap .box .icon {
  float: left;
  width: 20%;
}
body section.sec07 .boxwrap .box .txtbox {
  float: right;
  width: 72%;
}
body section.sec07 .boxwrap .box .txtbox p.tit {
  font-size: 2.2rem;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
  font-weight: 700;
  color: #00256B;
}
body section.sec07 .boxwrap .box .txtbox p.txt {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.04em;
}
body section.sec07 .boxwrap .box:nth-child(even) {
  float: right;
}
body section.sec07 .message .tit {
  background: #00256B;
  width: 400px;
  margin: 0 auto;
  padding: 13px 0;
  border-radius: 50px;
}
body section.sec07 .message .tit p {
  text-align: center;
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 0.08em;
  line-height: 1;
}
body section.sec07 .message .txtbox {
  padding-top: 25px;
}
body section.sec07 .message .txtbox p {
  text-align: center;
  color: #00256B;
}
body section.sec07 .message .txtbox p.txt01 {
  font-weight: 700;
  font-size: 2rem;
}
body section.sec07 .message .txtbox p.txt02 {
  font-size: 1.3rem;
  padding-top: 10px;
}

/*======== TABLET ========*/
/*========== SP ==========*/
@media (max-width: 768px) {
  body section.mv .slider .slide-dots {
    bottom: -35px;
    left: inherit;
    text-align: center;
    width: 100%;
  }
  body section.mv .slider .slide-dots li button:before {
    left: -10px;
    border: 1px solid #00256B;
  }
  body section.mv .slider .slide-dots li.slick-active button:before {
    background: #00256B;
  }
  body section.sec01 {
    padding: 60px 0 50px;
  }
  body section.sec01 .wrapper .news {
    padding-bottom: 35px;
    margin-top: 90px;
    width: 96%;
  }
  body section.sec01 .wrapper .news .tit {
    font-size: 1.8rem;
    padding-bottom: 10px;
  }
  body section.sec01 .wrapper .news .txt {
    padding: 17px 0;
  }
  body section.sec01 .wrapper .news .txt .txt01 {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  body section.sec01 .wrapper .news .txt .txt01 span {
    font-size: 1.4rem;
  }
  body section.sec01 .wrapper .news .txt .txt02 {
    font-size: 1.2rem;
    padding-top: 10px;
    letter-spacing: 0.1em;
  }
  body section.sec01 .wrapper h2.tit {
    font-size: 2.6rem;
    padding-left: 70px;
  }
  body section.sec01 .wrapper .flyer_box {
    display: block;
    margin-bottom: 50px;
  }
  body section.sec01 .wrapper .bnr_box_outline {
    width: 92%;
    margin: 0 auto;
  }
  body section.sec01 .wrapper .bnr_box_outline .bnr_box {
    padding: 30px 20px 10px;
    display: block;
  }
  body section.sec01 .wrapper .bnr_box_outline .bnr_box .bnr {
    width: 48%;
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  body section.sec01 .wrapper .bnr_box_outline .bnr_box .bnr:nth-child(odd) {
    float: left;
  }
  body section.sec01 .wrapper .bnr_box_outline .bnr_box .bnr:nth-child(even) {
    float: right;
  }
  body section.sec01 .wrapper .bnr_box_outline .bnr_box::after {
    bottom: -10px;
    right: -10px;
  }
  body section.sec01 .wrapper .bnr_box_outline::before {
    width: 45px;
    height: 27px;
    top: -1px;
    left: -1px;
  }
  body section.sec01 .wrapper .bnr_box_outline::after {
    width: 43px;
    height: 43px;
    top: -13px;
    left: -3px;
  }
  body section.sec02 {
    padding: 50px 0 70px;
  }
  body section.sec02 h2 {
    font-size: 2.8rem;
    line-height: 1.4;
  }
  body section.sec02 h2 span {
    font-size: 1.8rem;
    padding: 12px 0;
    display: block;
    margin-bottom: -20px;
  }
  body section.sec02 p.message {
    text-align: left;
    line-height: 1.6;
    padding-top: 15px;
    font-size: 1.6rem;
  }
  body section.sec02::after {
    background-size: cover;
    height: 50px;
  }
  body section.sec03 {
    padding: 110px 0 0;
  }
  body section.sec03 .cont-box {
    padding-bottom: 110px;
  }
  body section.sec03 .cont-box h2 {
    font-size: 2.6rem;
    padding-left: 0;
  }
  body section.sec03 .cont-box h2 span::before {
    width: 66px;
    height: 70px;
    top: -90px;
    left: -10px;
  }
  body section.sec03 .cont-box .step_wrap {
    margin-top: 0;
  }
  body section.sec03 .cont-box .step_wrap .step {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-top: 40px;
  }
  body section.sec03 .cont-box .step_wrap .step .number {
    width: 65px;
    margin: 0 auto 3px;
  }
  body section.sec03 .cont-box .step_wrap .step .img {
    margin-bottom: 10px;
  }
  body section.sec03 .cont-box .step_wrap .step p.txt01 {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  body section.sec03 .cont-box .step_wrap .step p.txt02 {
    font-size: 1.2rem;
  }
  body section.sec03 .cont-box .box_wrap {
    padding-top: 60px;
  }
  body section.sec03 .cont-box .box_wrap .box {
    padding: 30px 20px 20px;
    width: 100%;
    float: none;
    margin-bottom: 50px;
  }
  body section.sec03 .cont-box .box_wrap .box p.tit {
    font-size: 2rem;
    width: 80%;
    margin-left: -40%;
    padding: 9px 0;
  }
  body section.sec03 .cont-box .box_wrap .box p.txt {
    font-size: 1.5rem;
    padding: 0 0 20px;
  }
  body section.sec03 .cont-box .box_wrap .box:nth-child(even) {
    float: none;
    margin-bottom: 0;
  }
  body section.sec03 .cont-box p.text {
    padding-top: 20px;
    font-size: 1.3rem;
  }
  body section.sec03 .cont-box:last-child {
    padding-bottom: 60px;
  }
  body section.sec04 {
    padding: 60px 0 50px;
  }
  body section.sec04 h2 {
    margin-bottom: 30px;
  }
  body section.sec04 .tab-group .tab {
    width: 49%;
    font-size: 1.8rem;
    border-bottom: none;
  }
  body section.sec04 .badges {
    text-align: center;
    padding: 20px 0 15px;
  }
  body section.sec04 .badges li {
    margin-left: 30px;
    font-size: 1.3rem;
  }
  body section.sec04 .panel-group .panel .box {
    padding: 20px;
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 20px;
  }
  body section.sec04 .panel-group .panel .box p.tit {
    text-align: center;
    font-size: 1.6rem;
  }
  body section.sec04 .panel-group .panel .box .img {
    width: 350px;
    max-width: 100%;
  }
  body section.sec04 .panel-group .panel .box img {
    width: 100%;
  }
  body section.sec04 .panel-group .panel .box ul.badge {
    top: 8px;
    right: 8px;
  }
  body section.sec04 .panel-group .panel .box ul.badge li {
    width: 22px;
  }
  body section.sec04 .panel-group p.btmtxt {
    padding-top: 0;
  }
  body section.sec05 {
    padding: 70px 0 50px;
  }
  body section.sec06 {
    padding: 50px 0;
  }
  body section.sec06 .box {
    width: 100%;
    padding: 20px 0;
  }
  body section.sec06 .box .img {
    width: 80%;
    margin: 0 auto 10px;
  }
  body section.sec06 .instagram {
    float: none;
    margin-bottom: 15px;
  }
  body section.sec06 .instagram .button {
    width: 80%;
  }
  body section.sec06 .instagram .button a {
    width: 100%;
  }
  body section.sec06 .carsensor {
    float: none;
  }
  body section.sec06 .carsensor .button a {
    width: 80%;
  }
  body section.sec07 {
    background-size: 16px;
    padding: 70px 0 60px;
  }
  body section.sec07 h2 {
    font-size: 2.8rem;
  }
  body section.sec07 p.mintit {
    font-weight: 1.6rem;
    padding-top: 20px;
    width: 94%;
    margin: 0 auto;
  }
  body section.sec07 .boxwrap {
    padding: 50px 0 30px;
  }
  body section.sec07 .boxwrap .box {
    width: 100%;
    float: none;
    padding: 20px 15px;
    margin-bottom: 20px;
  }
  body section.sec07 .boxwrap .box .icon {
    width: 18%;
  }
  body section.sec07 .boxwrap .box .icon.icon01 {
    padding: 10px 0 0 0;
  }
  body section.sec07 .boxwrap .box .icon.icon02 {
    padding: 10px 5px 0 10px;
  }
  body section.sec07 .boxwrap .box .icon.icon03 {
    padding: 10px 0 0 3px;
  }
  body section.sec07 .boxwrap .box .icon.icon04 {
    padding: 10px 0 0 0;
  }
  body section.sec07 .boxwrap .box .txtbox {
    width: 78%;
  }
  body section.sec07 .boxwrap .box .txtbox p.tit {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  body section.sec07 .boxwrap .box .txtbox p.txt {
    font-size: 1.4rem;
  }
  body section.sec07 .boxwrap .box:nth-child(even) {
    float: none;
  }
  body section.sec07 .message .tit {
    width: 85%;
    max-width: 300px;
    padding: 10px 0;
  }
  body section.sec07 .message .tit p {
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 0.08em;
    line-height: 1;
  }
  body section.sec07 .message .txtbox {
    padding-top: 25px;
  }
  body section.sec07 .message .txtbox p.txt01 {
    font-size: 1.7rem;
  }
  body section.sec07 .message .txtbox p.txt02 {
    font-size: 1.2rem;
    padding-top: 10px;
  }
}
.home .news li {
  text-align: left;
}
.home .news li:not(:first-child) {
  margin-top: 1em;
}
.home .news li .date {
  width: 150px;
}
@media (max-width: 768px) {
  .home .news li .date {
    width: 100%;
    display: block;
  }
}
.home .news li .title {
  width: calc(100% - 150px);
}
@media (max-width: 768px) {
  .home .news li .title {
    width: 100%;
    display: block;
  }
}
.home .news li a {
  color: #00256B;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .home .news li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.6rem;
  }
}
.home .news li a:hover .title {
  text-decoration: underline;
}
.home .news .more {
  font-size: 1.7rem;
  margin-top: 10px;
  text-align: right;
}
@media (max-width: 768px) {
  .home .news .more {
    font-size: 1.6rem;
  }
}
.home .news .more a {
  color: #00256B;
}
.home .news .more .arrow {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: #00256B;
  margin: 0 0 6px 10px;
}
.home .news .more .arrow:before {
  content: "";
  position: absolute;
  top: 3px;
  right: -2px;
  display: block;
  width: 10px;
  height: 3px;
  border-radius: 2px;
  background-color: #00256B;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.home .news .more .arrow:after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: -2px;
  display: block;
  width: 10px;
  height: 3px;
  border-radius: 2px;
  background-color: #00256B;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.swallowArea {
  background: #2a2a32;
}
.swallowArea .swallow-wrap {
  position: relative;
  height: 0;
  padding-top: 64.8%;
}
@media (max-width: 768px) {
  .swallowArea .swallow-wrap {
    padding-top: 90%;
  }
}
.swallowArea .swallow-wrap:after {
  content: "";
  background: url("../cmn-img/index/img_swallow.png") no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background-size: contain;
}
@media (max-width: 768px) {
  .swallowArea .swallow-wrap:after {
    background: url("../cmn-img/index/img_swallow_sp.png") no-repeat;
    background-size: cover;
  }
}
.swallowArea .swallow-inner {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .swallowArea .swallow-inner {
    width: 55%;
  }
}
.swallowArea .swallow-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin: 5% 0 5% 5%;
}
@media (max-width: 768px) {
  .swallowArea .swallow-block {
    margin: 3% 0 3% 5%;
  }
}
@media (max-width: 768px) {
  .swallowArea .swallow-block .logo {
    width: 90%;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .swallowArea .swallow-block .logo img {
    width: 80%;
  }
}
.swallowArea .swallow-block .lead {
  text-align: center;
  font-size: 28px;
  margin-top: 10%;
  line-height: 1.7em;
}
@media (max-width: 1000px) {
  .swallowArea .swallow-block .lead {
    font-size: 20px;
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  .swallowArea .swallow-block .lead {
    font-size: 11px;
    margin-top: 0;
  }
}
.swallowArea .swallow-block .content {
  text-align: center;
  font-size: 20px;
  margin-top: 10%;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .swallowArea .swallow-block .content {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .swallowArea .swallow-block .content {
    font-size: 9px;
    margin-top: 10px;
  }
}
.swallowArea .swallow-block .link {
  width: 80%;
  margin-top: 10%;
}
@media (max-width: 768px) {
  .swallowArea .swallow-block .link {
    margin-top: 15px;
  }
}
.swallowArea .swallow-block .link a {
  display: block;
  background: #fff;
  font-size: 24px;
  border-radius: 100px;
  padding: 10px 0;
  border: 2px solid #fff;
  text-align: center;
  color: #2a2a32;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  .swallowArea .swallow-block .link a {
    font-size: 20px;
    padding: 8px 0;
  }
}
@media (max-width: 768px) {
  .swallowArea .swallow-block .link a {
    font-size: 10px;
    padding: 6px 0;
  }
}
.swallowArea .swallow-block .link a:hover {
  background: #2a2a32;
  color: #fff;
}

.campArea {
  position: relative;
}
.campArea .camp-image img {
  width: 100%;
}
.campArea .camp-link {
  position: absolute;
  right: 6%;
  bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
}
@media (max-width: 768px) {
  .campArea .camp-link {
    bottom: 4%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
  }
}
.campArea .camp-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 10px;
  text-align: center;
}
.campArea .camp-link a span {
  color: #fff;
  background: #F44730;
  border: 2px solid #F44730;
  padding: 4px 0;
  width: 100%;
  border-radius: 100px;
  font-size: 15px;
  letter-spacing: 0.05em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  .campArea .camp-link a span {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .campArea .camp-link a span {
    font-size: 12px;
    border: 1px solid #F44730;
  }
}
.campArea .camp-link a:hover span {
  color: #F44730;
  background: #fff;
}

#pricelist {
  padding: 100px 0 120px;
}
@media (max-width: 768px) {
  #pricelist {
    padding: 60px 0 50px;
  }
}
#pricelist h2 {
  color: #00256B;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  #pricelist h2 {
    margin-bottom: 30px;
  }
}
#pricelist .chart img {
  width: 100%;
}

/*==============================
　　　　　お問い合わせページ
===============================*/
/*========== PC ==========*/
body.contact section.con01 {
  padding: 80px 0 150px;
}
body.contact section.con01 .tel_info {
  padding: 60px 0 80px;
}
body.contact section.con01 .tel_info p {
  text-align: center;
  color: #00256B;
}
body.contact section.con01 .tel_info p.number {
  font-family: "Lato", sans-serif;
  font-size: 6.4rem;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.04em;
  line-height: 1;
}
body.contact section.con01 .tel_info p.number span {
  position: relative;
}
body.contact section.con01 .tel_info p.number span::before {
  content: "";
  background: url(../cmn-img/ico/ico-contact_tel02.svg);
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 11px;
  left: -55px;
}
body.contact section.con01 .tel_info p.number span a {
  color: #00256B;
}
body.contact section.con01 .tel_info p.txt {
  font-size: 2rem;
  padding-top: 5px;
}
body.contact.thanks section.con01 {
  padding: 160px 0 140px;
}
body.contact.thanks section.con01 p.txt {
  text-align: center;
  font-size: 2.4rem;
  color: #00256B;
}
body.contact.thanks section.con01 ul.cars {
  text-align: center;
  padding: 50px 0;
}
body.contact.thanks section.con01 ul.cars li {
  display: inline-block;
  width: 70px;
  margin: 0 9px;
}
body.contact.thanks section.con01 ul.cars li img {
  width: 100%;
}
body.contact.thanks section.con01 .button {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
body.contact.thanks section.con01 .button a {
  display: block;
  background: #00256B;
  color: #fff;
  border: 2px solid #00256B;
  padding: 18px 0;
}
body.contact.thanks section.con01 .button a:hover {
  background: #fff;
  color: #00256B;
}

/*======== TABLET ========*/
/*========== SP ==========*/
@media (max-width: 768px) {
  body.contact section.con01 {
    padding: 40px 0 80px;
  }
  body.contact section.con01 .tel_info {
    padding: 30px 0 50px;
  }
  body.contact section.con01 .tel_info p.number {
    font-size: 3.8rem;
  }
  body.contact section.con01 .tel_info p.number span {
    padding-left: 20px;
  }
  body.contact section.con01 .tel_info p.number span::before {
    width: 40px;
    height: 40px;
    top: 6px;
    left: -16px;
  }
  body.contact section.con01 .tel_info p.txt {
    font-size: 1.3rem;
    padding-top: 10px;
  }
  body.contact.thanks section.con01 {
    padding: 80px 0 80px;
  }
  body.contact.thanks section.con01 p.txt {
    font-size: 2rem;
  }
  body.contact.thanks section.con01 ul.cars {
    padding: 30px 0 50px;
  }
  body.contact.thanks section.con01 ul.cars li {
    width: 50px;
    margin: 0 6px;
  }
  body.contact.thanks section.con01 .button {
    width: 280px;
  }
  body.contact.thanks section.con01 .button a {
    padding: 14px 0;
  }
}
body.contact .mw_wp_form_confirm .contact-btn {
  margin: 20px auto;
  width: 280px;
  height: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 768px) {
  body.contact .mw_wp_form_confirm .contact-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
}
body.contact .mw_wp_form_confirm .contact-btn .js-back {
  background: #666 !important;
  border-color: #666;
}

body.contact .mw_wp_form_confirm .contact-btn input[type=submit] {
  width: 100%;
}
@media (max-width: 768px) {
  body.contact .mw_wp_form_confirm .contact-btn input[type=submit] {
    width: 100% !important;
  }
}

body.contact .mw_wp_form_confirm .contact-btn input[type=submit]:first-child {
  margin-bottom: 10px;
}

body.contact .contact-table-wrap.category .mwform-radio-field-text {
  font-weight: bold;
}

body.contact .agree .mwform-checkbox-field-text {
  font-weight: bold;
}

body.contact .agree .mwform-checkbox-field input[type=checkbox] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

body.contact .agree .-error-message {
  color: #D92E26;
  font-size: 1.3rem;
  margin-top: 5px;
  font-weight: bold;
}

body.contact .contact-btn input[type=submit] {
  background: #F1F4F9;
  color: #00256B;
  cursor: inherit;
  text-align: center;
  display: block;
  padding: 20px 0;
  border: 2px solid #00256B;
  width: 100%;
}

body.contact .mw_wp_form_input .contact-btn input[type=submit] {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body.contact .mw_wp_form_input .contact-btn.-stop input[type=submit] {
  color: #fff;
  background: #00256B;
}

body.contact .mw_wp_form_confirm .contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  margin: 40px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.contact .mw_wp_form_confirm .contact-btn input[type=submit] {
  width: 48%;
  color: #fff;
  background: #00256B;
}

/*==============================
　　　　　　会社概要ページ
===============================*/
/*========== PC ==========*/
body.company section.con01 {
  padding: 80px 0 150px;
}
body.company section.con01 p.message {
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 0.06em;
  color: #00256B;
  font-weight: 700;
}
body.company section.con01 .content {
  padding-top: 80px;
}
body.company section.con01 .content .company_info {
  background: #F1F4F9;
  padding: 60px 60px 50px;
  border-radius: 40px;
}
body.company section.con01 .content .company_info table tr th {
  width: 30%;
  padding: 15px 10px 15px 35px;
  border-bottom: 1px dashed #00256B;
  color: #00256B;
  text-align: left;
}
body.company section.con01 .content .company_info table tr td {
  width: 70%;
  padding: 15px 10px;
  border-bottom: 1px dashed #00256B;
}
body.company section.con01 .content .company_info table tr:last-child th {
  border-bottom: none;
}
body.company section.con01 .content .company_info table tr:last-child td {
  border-bottom: none;
}
body.company section.con01 .content .company_info.policy .title {
  font-size: 3.8rem;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  color: #00256B;
}
@media (max-width: 768px) {
  body.company section.con01 .content .company_info.policy .title {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
}
body.company section.con01 .content .company_info.policy .head {
  font-size: 2.8rem;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  color: #00256B;
}
@media (max-width: 768px) {
  body.company section.con01 .content .company_info.policy .head {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
}
body.company section.con01 .content .company_info.policy ul.text {
  font-size: 20px;
  line-height: 2em;
}
@media (max-width: 768px) {
  body.company section.con01 .content .company_info.policy ul.text {
    font-size: 16px;
    line-height: 1.7em;
  }
}
body.company section.con01 .content .company_info.policy ul.text li:nth-child(n+2) {
  margin-top: 1em;
}
body.company section.con01 .content .history {
  padding-top: 20px;
}
body.company section.con01 .content .history table {
  position: relative;
}
body.company section.con01 .content .history table tr th {
  width: 25%;
  padding: 17px 10px 17px 35px;
  color: #00256B;
  text-align: left;
  position: relative;
}
body.company section.con01 .content .history table tr th::before {
  content: "●";
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  line-height: 1;
}
body.company section.con01 .content .history table tr td {
  width: 75%;
  padding: 17px 10px;
}
body.company section.con01 .content .history table::before {
  content: "";
  background: #00256B;
  height: 85%;
  width: 3px;
  position: absolute;
  top: 8%;
  left: 10px;
}

/*======== TABLET ========*/
/*========== SP ==========*/
@media (max-width: 768px) {
  body.company section.con01 {
    padding: 40px 0 60px;
  }
  body.company section.con01 p.message {
    font-size: 1.8rem;
    text-align: left;
    padding: 0 10px;
  }
  body.company section.con01 .content {
    padding-top: 50px;
  }
  body.company section.con01 .content .company_info {
    padding: 20px 10px;
    border-radius: 20px;
  }
  body.company section.con01 .content .company_info table tr th {
    width: 100%;
    display: block;
    padding: 15px 10px 0;
    border-bottom: none;
  }
  body.company section.con01 .content .company_info table tr td {
    width: 100%;
    display: block;
    padding: 10px 10px 15px 10px;
  }
  body.company section.con01 .content .company_info table tr:last-child th {
    border-bottom: none;
  }
  body.company section.con01 .content .company_info table tr:last-child td {
    border-bottom: none;
  }
  body.company section.con01 .content .history table tr th {
    width: 100%;
    display: block;
    padding: 17px 10px 0 35px;
    font-size: 1.8rem;
  }
  body.company section.con01 .content .history table tr th::before {
    font-size: 1.8rem;
    margin-top: -8px;
    top: 26px;
  }
  body.company section.con01 .content .history table tr td {
    width: 100%;
    display: block;
    padding: 5px 10px 17px 35px;
    font-size: 1.5rem;
  }
  body.company section.con01 .content .history table::before {
    top: 5%;
    left: 10px;
  }
}
/*==============================
　　　 プラバシーポリシーページ
===============================*/
/*========== PC ==========*/
body.privacy section.con01 {
  padding: 100px 0;
}
body.privacy section.con01 .listbox {
  padding-top: 80px;
}
body.privacy section.con01 .listbox .box {
  padding-bottom: 55px;
  line-height: 1.6;
}
body.privacy section.con01 .listbox .box h3 {
  border-bottom: 3px solid #00256B;
  margin-bottom: 15px;
}
body.privacy section.con01 .listbox .box h3::after {
  content: none;
}
body.privacy section.con01 .listbox .box h4 {
  font-size: 1.7rem;
  color: #00256B;
  margin: 30px 0 10px;
}
body.privacy section.con01 .listbox .box ul {
  padding-top: 10px;
}
body.privacy section.con01 .listbox .box ul li {
  padding-left: 18px;
  position: relative;
}
body.privacy section.con01 .listbox .box ul li::before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

/*======== TABLET ========*/
/*========== SP ==========*/
@media (max-width: 768px) {
  body.privacy section.con01 {
    padding: 40px 0 40px;
    font-size: 1.5rem;
  }
  body.privacy section.con01 .listbox {
    padding-top: 60px;
  }
  body.privacy section.con01 .listbox .box {
    padding-bottom: 40px;
    font-size: 1.5rem;
  }
  body.privacy section.con01 .listbox .box h4 {
    font-size: 1.7rem;
    margin: 15px 0 5px;
    font-weight: 500;
  }
}
/*==============================
　　　　　　ブログ
===============================*/
body.news {
  background: #F1F4F9;
}
body.news .newcar {
  background: #F44730 !important;
}
body.news .event {
  background: #F4B030 !important;
}
body.news .gallery {
  background: #20B2E4 !important;
}
body.news .other {
  background: #3DB11A !important;
}
body.news .con01 {
  position: relative;
  padding-bottom: 180px;
}
@media (max-width: 768px) {
  body.news .con01 {
    padding-bottom: 80px;
  }
}
body.news .con01:after {
  content: "";
  background: url("../cmn-img/news/message_town_bg@2x.png") repeat-x;
  background-size: contain;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
@media (max-width: 768px) {
  body.news .con01:after {
    background-size: cover;
    height: 50px;
  }
}
body.news .wrap {
  width: 94%;
  max-width: 1000px;
  margin: 80px auto auto auto;
}
@media (max-width: 768px) {
  body.news .wrap {
    margin-top: 40px;
  }
}
body.news .news-title {
  font-size: 40px;
  text-align: center;
  color: #00256B;
}
@media (max-width: 768px) {
  body.news .news-title {
    font-size: 20px;
  }
}
body.news .news-title span {
  position: relative;
  padding-left: 60px;
}
@media (max-width: 768px) {
  body.news .news-title span {
    padding-left: 25px;
  }
}
body.news .news-title span:before {
  content: "";
  background: url("../cmn-img/news/ico_flag_01.png") no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 46px;
  height: 45px;
}
@media (max-width: 768px) {
  body.news .news-title span:before {
    background-size: cover;
    width: 20px;
    height: 20px;
  }
}
body.news .news-title span.ico-newcar:before {
  background: url("../cmn-img/news/ico_flag_02.png") no-repeat;
  background-size: cover;
}
body.news .news-title span.ico-event:before {
  background: url("../cmn-img/news/ico_flag_03.png") no-repeat;
  background-size: cover;
}
body.news .news-title span.ico-gallery:before {
  background: url("../cmn-img/news/ico_flag_04.png") no-repeat;
  background-size: cover;
}
body.news .news-title span.ico-other:before {
  background: url("../cmn-img/news/ico_flag_05.png") no-repeat;
  background-size: cover;
}
body.news .categoryArea {
  margin-top: 50px;
}
@media (max-width: 768px) {
  body.news .categoryArea {
    margin-top: 30px;
  }
}
body.news .categoryArea .category-title {
  color: #00256B;
  font-size: 16px;
}
body.news .categoryArea .categoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
@media (max-width: 768px) {
  body.news .categoryArea .categoryList {
    margin-top: 0;
  }
}
body.news .categoryArea .categoryList li {
  width: 23.2%;
  margin-left: 2.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  body.news .categoryArea .categoryList li {
    width: 48%;
    margin-left: 4%;
    margin-top: 10px;
  }
}
body.news .categoryArea .categoryList li:nth-of-type(4n-3) {
  margin-left: 0;
}
@media (max-width: 768px) {
  body.news .categoryArea .categoryList li:nth-of-type(4n-3) {
    margin-left: 4%;
  }
}
body.news .categoryArea .categoryList li:nth-child(n+5) {
  margin-top: 20px;
}
@media (max-width: 768px) {
  body.news .categoryArea .categoryList li:nth-child(n+5) {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  body.news .categoryArea .categoryList li:nth-child(odd) {
    margin-left: 0;
  }
}
body.news .categoryArea .categoryList li a {
  background: #00256B;
  color: #fff;
  padding: 14px 10px;
  border-radius: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  body.news .categoryArea .categoryList li a {
    padding: 10px 10px;
    font-size: 13px;
  }
}
body.news .categoryArea .categoryList li a.active {
  opacity: 0.6;
}
body.news .categoryArea .categoryList li a:hover {
  opacity: 0.6;
}
body.news .newsArea {
  margin-top: 110px;
}
@media (max-width: 768px) {
  body.news .newsArea {
    margin-top: 40px;
  }
}
body.news .newsArea ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body.news .newsArea li {
  width: 30.4%;
  margin-left: 4.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  body.news .newsArea li {
    width: 48%;
    margin-left: 4%;
    margin-bottom: 20px;
  }
}
body.news .newsArea li:nth-of-type(3n-2) {
  margin-left: 0;
}
@media (max-width: 768px) {
  body.news .newsArea li:nth-of-type(3n-2) {
    margin-left: 4%;
  }
}
@media (max-width: 768px) {
  body.news .newsArea li:nth-child(odd) {
    margin-left: 0;
  }
}
body.news .newsArea .photoArea {
  position: relative;
}
body.news .newsArea .photo {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
body.news .newsArea .photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.news .newsArea .category {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #00256B;
  color: #fff;
  font-size: 14px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 20px;
}
@media (max-width: 768px) {
  body.news .newsArea .category {
    font-size: 12px;
    padding: 3px 15px;
  }
}
body.news .newsArea .detailArea {
  padding: 20px;
}
@media (max-width: 768px) {
  body.news .newsArea .detailArea {
    padding: 15px;
  }
}
body.news .newsArea .detailArea .date {
  font-size: 14px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  body.news .newsArea .detailArea .date {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
body.news .newsArea .detailArea .title {
  font-size: 20px;
}
@media (max-width: 768px) {
  body.news .newsArea .detailArea .title {
    font-size: 16px;
  }
}
body.news .newsArea a {
  background: #fff;
  border-radius: 15px;
  color: #000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body.news .newsArea a:hover {
  -webkit-box-shadow: 0 0 15px #aaa;
          box-shadow: 0 0 15px #aaa;
}
body.news .newsArea a:hover .title {
  text-decoration: underline;
}
body.news .pagination {
  margin-top: 60px;
}
@media (max-width: 768px) {
  body.news .pagination {
    margin-top: 20px;
  }
}
body.news .pagination .page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body.news .pagination .page-numbers.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body.news .pagination li {
  font-size: 18px;
  color: #00256B;
  margin: 0 5px;
}
@media (max-width: 768px) {
  body.news .pagination li {
    font-size: 15px;
  }
}
body.news .pagination .current {
  padding: 10px 5px;
  border-bottom: 1px solid #00256B;
}
body.news .pagination a {
  color: #00256B;
  padding: 10px 5px;
  -webkit-transition: 0s;
  transition: 0s;
}
body.news .pagination a:hover {
  border-bottom: 1px solid #00256B;
}
body.news .pagination .screen-reader-text {
  display: none;
}
body.news .pageTop {
  text-align: right;
}
body.news .pageTop a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #00256B;
  border-radius: 50%;
}
body.news .pageTop a:hover {
  opacity: 0.7;
}
body.news .pageTop a span {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}
body.news .pageTop a span:after {
  content: "";
  width: 15px;
  height: 15px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
body.news .pageBack {
  text-align: right;
  font-size: 18px;
  margin-right: 50px;
}
@media (max-width: 768px) {
  body.news .pageBack {
    font-size: 16px;
    margin-right: 0;
  }
}
body.news .pageBack a {
  color: #00256B;
}
body.news .pageBack a span {
  position: relative;
  padding-left: 20px;
}
body.news .pageBack a span:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #00256B;
  border-right: 2px solid #00256B;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
body.news .page-category {
  margin-top: 40px;
}
@media (max-width: 768px) {
  body.news .page-category {
    margin-top: 30px;
  }
}
body.news .page-category span {
  background: #00256B;
  color: #fff;
  font-size: 17px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 13px 20px;
  min-width: 220px;
  text-align: center;
  display: inline-block;
}
@media (max-width: 768px) {
  body.news .page-category span {
    font-size: 15px;
    padding: 10px 15px;
    min-width: 180px;
  }
}
body.news .page-content .page-wrap {
  background: #fff;
}
body.news .page-content .page-wrap .container {
  width: 85%;
  padding: 5% 0;
  margin: auto;
}
@media (max-width: 768px) {
  body.news .page-content .page-wrap .container {
    width: 90%;
    padding: 4% 0;
  }
}
body.news .page-content .page-wrap .page-title {
  font-size: 40px;
}
@media (max-width: 768px) {
  body.news .page-content .page-wrap .page-title {
    font-size: 20px;
  }
}
body.news .page-content .page-wrap .page-photo {
  margin-top: 5%;
}
@media (max-width: 768px) {
  body.news .page-content .page-wrap .page-photo {
    margin-top: 4%;
  }
}
body.news .page-content .page-wrap .page-photo img {
  width: 100%;
  height: auto;
}
body.news .page-content .page-wrap .page-body {
  margin: 40px 2% 0 2%;
  font-size: 20px;
  line-height: 1.7em;
}
@media (max-width: 768px) {
  body.news .page-content .page-wrap .page-body {
    font-size: 16px;
    margin: 20px 0 0 0;
    line-height: 1.7em;
  }
}
body.news .page-content .pageTop {
  margin-top: 100px;
}
@media (max-width: 768px) {
  body.news .page-content .pageTop {
    margin-top: 20px;
  }
}
body.news .page-content .page-relation {
  margin-top: 80px;
}
@media (max-width: 768px) {
  body.news .page-content .page-relation {
    margin-top: 20px;
  }
}
body.news .page-content .page-relation .relation-title {
  font-size: 40px;
  text-align: center;
  color: #00256B;
}
@media (max-width: 768px) {
  body.news .page-content .page-relation .relation-title {
    font-size: 20px;
  }
}
body.news .page-content .newsArea {
  margin-top: 50px;
}
@media (max-width: 768px) {
  body.news .page-content .newsArea {
    margin-top: 30px;
  }
}
body.news .page-body em {
  font-style: italic;
}
body.news .page-body ul li {
  list-style: disc;
  margin-left: 1em;
}
body.news .page-body ol li {
  margin-left: 1.5em;
}
body.news .page-body blockquote {
  background: #eee;
  padding: 1em;
}
body.news .page-body a {
  color: #00256B;
  text-decoration: underline;
}
body.news .page-body a:hover {
  text-decoration: none;
}
body.news .page-body h1, body.news .page-body h2, body.news .page-body h3, body.news .page-body h4, body.news .page-body h5, body.news .page-body h6 {
  border-bottom: 3px solid #A5A5A5;
  position: relative;
  color: #00256B;
  line-height: 1;
  padding-bottom: 7px;
  margin: 15px 0;
}
body.news .page-body h1:after, body.news .page-body h2:after, body.news .page-body h3:after, body.news .page-body h4:after, body.news .page-body h5:after, body.news .page-body h6:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  background: #00256B;
  height: 5px;
  width: 200px;
}
body.news .page-body h1 {
  font-size: 1.7em;
}
body.news .page-body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0;
}
body.news .page-body table th, body.news .page-body table td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}

/*==============================
　　　　　　404
===============================*/
body.error .wrap {
  text-align: center;
  padding: 100px 0;
}
@media (max-width: 768px) {
  body.error .wrap {
    padding: 50px 0;
  }
}
body.error .message {
  font-size: 20px;
}
@media (max-width: 768px) {
  body.error .message {
    font-size: 18px;
  }
}
body.error .link {
  margin-top: 60px;
}
@media (max-width: 768px) {
  body.error .link {
    margin-top: 40px;
  }
}
body.error .link a {
  color: #00256B;
  text-decoration: underline;
}
body.error .link a:hover {
  text-decoration: none;
}