/*==============================
　　　　　　404
===============================*/

body.error {
  .wrap {
    text-align: center;
    padding: 100px 0;
    @media (max-width: 768px) {
      padding: 50px 0;
    }
  }

  .message {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .link {
    margin-top: 60px;
    @media (max-width: 768px) {
      margin-top: 40px;
    }

    a {
      color: #00256B;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}