/*==============================
　　　　　　会社概要ページ
===============================*/
/*========== PC ==========*/
body.company{
  section{
    &.con01{
      padding: 80px 0 150px;
      p.message{
        text-align: center;
        font-size: 2.4rem;
        letter-spacing: 0.06em;
        color: $cl-blue01;
        font-weight: 700;
      }
      .content{
        padding-top: 80px;
        .company_info{
          background: $cl-blue02;
          padding: 60px 60px 50px;
          border-radius: 40px;
          table{
            tr{
              th{
                width: 30%;
                padding: 15px 10px 15px 35px;
                border-bottom: 1px dashed $cl-blue01;
                color: $cl-blue01;
                text-align: left;
              }
              td{
                width: 70%;
                padding: 15px 10px;
                border-bottom: 1px dashed $cl-blue01;
              }
              &:last-child{
                th{
                  border-bottom: none;
                }
                td{
                  border-bottom: none;
                }
              }
            }
          }

          &.policy {
            .title {
              font-size: 3.8rem;
              letter-spacing: 0.06em;
              text-align: center;
              margin-bottom: 30px;
              color: #00256B;
              @media (max-width: 768px) {
                font-size: 2.8rem;
                margin-bottom: 20px;
              }
            }

            .head {
              font-size: 2.8rem;
              letter-spacing: 0.06em;
              text-align: center;
              margin-bottom: 30px;
              color: #00256B;
              @media (max-width: 768px) {
                font-size: 2.2rem;
                margin-bottom: 20px;
              }
            }

            ul.text {
              font-size: 20px;
              line-height: 2em;
              @media (max-width: 768px) {
                font-size: 16px;
                line-height: 1.7em;
              }

              li {
                &:nth-child(n+2) {
                  margin-top: 1em;
                }
              }
            }
          }
        }
        .history{
          padding-top: 20px;
          table{
            position: relative;
            tr{
              th{
                width: 25%;
                padding: 17px 10px 17px 35px;
                color: $cl-blue01;
                text-align: left;
                position: relative;
                &::before{
                  content: '●';
                  font-size: 2.0rem;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  margin-top: -10px;
                  line-height: 1;
                }
              }
              td{
                width: 75%;
                padding: 17px 10px;
              }
            }
            &::before{
              content: '';
              background: $cl-blue01;
              height: 85%;
              width: 3px;
              position: absolute;
              top: 8%;
              left: 10px;
            }
          }
        }
      }
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/*========== SP ==========*/
@media (max-width: 768px) {
  body.company{
    section{
      &.con01{
        padding: 40px 0 60px;
        p.message{
          font-size: 1.8rem;
          text-align: left;
          padding: 0 10px;
        }
        .content{
          padding-top: 50px;
          .company_info{
            padding: 20px 10px;
            border-radius: 20px;
            table{
              tr{
                th{
                  width: 100%;
                  display: block;
                  padding: 15px 10px 0;
                  border-bottom: none;
                }
                td{
                  width: 100%;
                  display: block;
                  padding: 10px 10px 15px 10px;
                }
                &:last-child{
                  th{
                    border-bottom: none;
                  }
                  td{
                    border-bottom: none;
                  }
                }
              }
            }
          }
          .history{
            table{
              tr{
                th{
                  width: 100%;
                  display: block;
                  padding: 17px 10px 0 35px;
                  font-size: 1.8rem;
                  &::before{
                    font-size: 1.8rem;
                    margin-top: -8px;
                    top: 26px;
                  }
                }
                td{
                  width: 100%;
                  display: block;
                  padding: 5px 10px 17px 35px;
                  font-size: 1.5rem;
                }
              }
              &::before{
                top: 5%;
                left: 10px;
              }
            }
          }
        }
      }
    }
  }
}