/*==============================
　　　　　お問い合わせページ
===============================*/
/*========== PC ==========*/
body.contact{
  section{
    &.con01{
      padding: 80px 0 150px;
      .tel_info{
        padding: 60px 0 80px;
        p{
          text-align: center;
          color: $cl-blue01;
          &.number{
            font-family: $ff-lato;
            font-size: 6.4rem;
            font-style: italic;
            font-weight: 800;
            letter-spacing: 0.04em;
            line-height: 1;
            span{
              position: relative;
              &::before{
                content: "";
                background: url(../cmn-img/ico/ico-contact_tel02.svg);
                background-size: cover;
                width: 60px;
                height: 60px;
                position: absolute;
                top: 11px;
                left: -55px;
              }
              a{
                color: $cl-blue01;
              }
            }
          }
          &.txt{
            font-size: 2.0rem;
            padding-top: 5px;
          }
        }
      }
    }
  }
  &.thanks{
    section{
      &.con01{
        padding: 160px 0 140px;
        p.txt{
          text-align: center;
          font-size: 2.4rem;
          color: $cl-blue01;
        }
        ul.cars{
          text-align: center;
          padding: 50px 0;
          li{
            display: inline-block;
            width: 70px;
            margin: 0 9px;
            img{
              width: 100%;
            }
          }
        }
        .button{
          width: 320px;
          margin: 0 auto;
          text-align: center;
          a{
            display: block;
            background: $cl-blue01;
            color: $cl-white;
            border: 2px solid $cl-blue01;
            padding: 18px 0;
            &:hover{
              background: $cl-white;
              color: $cl-blue01;
            }
          }
        }
      }
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/*========== SP ==========*/
@media (max-width: 768px) {
  body.contact{
    section{
      &.con01{
        padding: 40px 0 80px;
        .tel_info{
          padding: 30px 0 50px;
          p{
            &.number{
              font-size: 3.8rem;
              span{
                padding-left: 20px;
                &::before{
                  width: 40px;
                  height: 40px;
                  top: 6px;
                  left: -16px;
                }
              }
            }
            &.txt{
              font-size: 1.3rem;
              padding-top: 10px;
            }
          }
        }
      }
    }
    &.thanks{
      section{
        &.con01{
          padding: 80px 0 80px;
          p.txt{
            font-size: 2.0rem;
          }
          ul.cars{
            padding: 30px 0 50px;
            li{
              width: 50px;
              margin: 0 6px;
            }
          }
          .button{
            width: 280px;
            a{
              padding: 14px 0;
            }
          }
        }
      }
    }
  }
}
body.contact .mw_wp_form_confirm .contact-btn {
  margin: 20px auto;
  width: 280px;
  height: 100%;
  align-items: baseline;
  @media (max-width: 768px) {
    flex-direction: column;
    max-width: 100%;
  }
  .js-back {
    background: #666 !important;
    border-color: #666;
  }
}
body.contact .mw_wp_form_confirm .contact-btn input[type="submit"] {
  width: 100%;
  @media (max-width: 768px) {
    width: 100% !important;
  }
}
body.contact .mw_wp_form_confirm .contact-btn input[type="submit"]:first-child {
  margin-bottom: 10px;
}
body.contact .contact-table-wrap.category .mwform-radio-field-text {
  font-weight: bold;
}
body.contact .agree .mwform-checkbox-field-text {
  font-weight: bold;
}
body.contact .agree .mwform-checkbox-field input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
body.contact .agree .-error-message {
  color: #D92E26;
  font-size: 1.3rem;
  margin-top: 5px;
  font-weight: bold;
}
body.contact .contact-btn input[type="submit"] {
  background: #F1F4F9;
  color: #00256B;
  cursor: inherit;
  text-align: center;
  display: block;
  padding: 20px 0;
  border: 2px solid #00256B;
  width: 100%;
}
body.contact .mw_wp_form_input .contact-btn input[type="submit"] {
  transition: 0.6s;
}
body.contact .mw_wp_form_input .contact-btn.-stop input[type="submit"] {
  color: #fff;
  background: #00256B;
}
body.contact .mw_wp_form_confirm .contact-btn {
  display: flex;
  width: 650px;
  margin: 40px auto 0;
  justify-content: space-between;
}
body.contact .mw_wp_form_confirm .contact-btn input[type="submit"] {
  width: 48%;
  color: #fff;
  background: #00256B;
}