/*==============================
　　　　　　ブログ
===============================*/

body.news {
  background: #F1F4F9;

  .newcar {
    background: #F44730 !important;
  }

  .event {
    background: #F4B030 !important;
  }

  .gallery {
    background: #20B2E4 !important;
  }

  .other {
    background: #3DB11A !important;
  }

  .con01 {
    position: relative;
    padding-bottom: 180px;
    @media (max-width: 768px) {
      padding-bottom: 80px;
    }

    &:after {
      content: "";
      background: url("../cmn-img/news/message_town_bg@2x.png") repeat-x;
      background-size: contain;
      width: 100%;
      height: 80px;
      position: absolute;
      bottom: -2px;
      left: 0;

      @media (max-width: 768px) {
        background-size: cover;
        height: 50px;
      }
    }
  }

  .wrap {
    width: 94%;
    max-width: 1000px;
    margin: 80px auto auto auto;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }

  .news-title {
    font-size: 40px;
    text-align: center;
    color: #00256B;
    @media (max-width: 768px) {
      font-size: 20px;
    }

    span {
      position: relative;
      padding-left: 60px;
      @media (max-width: 768px) {
        padding-left: 25px;
      }

      &:before {
        content: "";
        background: url("../cmn-img/news/ico_flag_01.png") no-repeat;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 46px;
        height: 45px;
        @media (max-width: 768px) {
          background-size: cover;
          width: 20px;
          height: 20px;
        }
      }

      &.ico-newcar {
        &:before {
          background: url("../cmn-img/news/ico_flag_02.png") no-repeat;
          background-size: cover;
        }
      }
      
      &.ico-event {
        &:before {
          background: url("../cmn-img/news/ico_flag_03.png") no-repeat;
          background-size: cover;
        }
      }
      
      &.ico-gallery {
        &:before {
          background: url("../cmn-img/news/ico_flag_04.png") no-repeat;
          background-size: cover;
        }
      }
      
      &.ico-other {
        &:before {
          background: url("../cmn-img/news/ico_flag_05.png") no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .categoryArea {
    margin-top: 50px;
    @media (max-width: 768px) {
      margin-top: 30px;
    }

    .category-title {
      color: #00256B;
      font-size: 16px;
    }

    .categoryList {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      @media (max-width: 768px) {
        margin-top: 0;
      }

      li {
        width: 23.2%;
        margin-left: 2.4%;
        display: flex;
        @media (max-width: 768px) {
          width: 48%;
          margin-left: 4%;
          margin-top: 10px;
        }

        &:nth-of-type(4n-3) {
          margin-left: 0;
          @media (max-width: 768px) {
            margin-left: 4%;
          }
        }

        &:nth-child(n+5) {
          margin-top: 20px;
          @media (max-width: 768px) {
            margin-top: 10px;
          }
        }

        &:nth-child(odd) {
          @media (max-width: 768px) {
            margin-left: 0;
          }
        }

        a {
          background: #00256B;;
          color: #fff;
          padding: 14px 10px;
          border-radius: 50px;
          text-align: center;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          @media (max-width: 768px) {
            padding: 10px 10px;
            font-size: 13px;
          }

          &.active {
            opacity: 0.6;
          }

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .newsArea {
    margin-top: 110px;
    @media (max-width: 768px) {
      margin-top: 40px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      width: 30.4%;
      margin-left: 4.4%;
      display: flex;
      margin-bottom: 40px;
      transition: 0.3s;
      @media (max-width: 768px) {
        width: 48%;
        margin-left: 4%;
        margin-bottom: 20px;
      }

      &:nth-of-type(3n-2) {
        margin-left: 0;
        @media (max-width: 768px) {
          margin-left: 4%;
        }
      }
      &:nth-child(odd) {
        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }

    .photoArea {
      position: relative;
    }

    .photo {
      position: relative;
      overflow: hidden;
      padding-top: 75%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .category {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00256B;
      color: #fff;
      font-size: 14px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 5px 20px;
      @media (max-width: 768px) {
        font-size: 12px;
        padding: 3px 15px;
      }
    }

    .detailArea {
      padding: 20px;
      @media (max-width: 768px) {
        padding: 15px;
      }

      .date {
        font-size: 14px;
        margin-bottom: 10px;
        @media (max-width: 768px) {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }

      .title {
        font-size: 20px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    a {
      background: #fff;
      border-radius: 15px;
      color: #000;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: 0.3s;
      &:hover {
        box-shadow: 0 0 15px #aaa;

        .title {
          text-decoration: underline;
        }
      }
    }
  }

  .pagination {
    margin-top: 60px;
    @media (max-width: 768px) {
      margin-top: 20px;
    }

    .page-numbers {
      display: flex;
      justify-content: center;

      &.dots {
        display: flex;
        height: 100%;
        align-items: center;
      }
    }

    li {
      font-size: 18px;
      color: #00256B;
      margin: 0 5px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }

    .current {
      padding: 10px 5px;
      border-bottom: 1px solid #00256B;
    }

    a {
      color: #00256B;
      padding: 10px 5px;
      transition: 0s;

      &:hover {
        border-bottom: 1px solid #00256B;
      }
    }

    .screen-reader-text {
      display: none;
    }
  }

  .pageTop {
    text-align: right;

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #00256B;
      border-radius: 50%;

      &:hover {
        opacity: 0.7;
      }

      span {
        position: relative;
        width: 40px;
        height: 40px;
        display: block;

        &:after {
          content: "";
          width: 15px;
          height: 15px;
          border-top: 5px solid #fff;
          border-right: 5px solid #fff;
          transform: rotate(-45deg);
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }

  .pageBack {
    text-align: right;
    font-size: 18px;
    margin-right: 50px;
    @media (max-width: 768px) {
      font-size: 16px;
      margin-right: 0;
    }

    a {
      color: #00256B;

      span {
        position: relative;
        padding-left: 20px;

        &:before {
          content: "";
          width: 10px;
          height: 10px;
          border-top: 2px solid #00256B;
          border-right: 2px solid #00256B;
          transform: rotate(225deg);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
    }
  }

  .page-category {
    margin-top: 40px;
    @media (max-width: 768px) {
      margin-top: 30px;
    }

    span {
      background: #00256B;
      color: #fff;
      font-size: 17px;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      padding: 13px 20px;
      min-width: 220px;
      text-align: center;
      display: inline-block;
      @media (max-width: 768px) {
        font-size: 15px;
        padding: 10px 15px;
        min-width: 180px;
      }
    }
  }

  .page-content {

    .page-wrap {
      background: #fff;

      .container {
        width: 85%;
        padding: 5% 0;
        margin: auto;
        @media (max-width: 768px) {
          width: 90%;
          padding: 4% 0;
        }
      }

      .page-title {
        font-size: 40px;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      .page-photo {
        margin-top: 5%;
        @media (max-width: 768px) {
          margin-top: 4%;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .page-body {
        margin: 40px 2% 0 2%;
        font-size: 20px;
        line-height: 1.7em;
        @media (max-width: 768px) {
          font-size: 16px;
          margin: 20px 0 0 0;
          line-height: 1.7em;
        }
      }
    }

    .pageTop {
      margin-top: 100px;
      @media (max-width: 768px) {
        margin-top: 20px;
      }
    }

    .page-relation {
      margin-top: 80px;
      @media (max-width: 768px) {
        margin-top: 20px;
      }

      .relation-title {
        font-size: 40px;
        text-align: center;
        color: #00256B;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
    }

    .newsArea {
      margin-top: 50px;
      @media (max-width: 768px) {
        margin-top: 30px;
      }
    }
  }

  .page-body {
    em {
      font-style: italic;
    }

    ul {
      li {
        list-style: disc;
        margin-left: 1em;
      }
    }

    ol {
      li {
        margin-left: 1.5em;
      }
    }

    blockquote {
      background: #eee;
      padding: 1em;
    }

    a {
      color: #00256B;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      border-bottom: 3px solid #A5A5A5;
      position: relative;
      color: #00256B;
      line-height: 1;
      padding-bottom: 7px;
      margin: 15px 0;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        background: #00256B;
        height: 5px;
        width: 200px;
      }
    }

    h1 {
      font-size: 1.7em;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 15px 0;

      th, td {
        border: 1px solid #ccc;
        padding: 10px 15px;
      }
    }
  }
}



