/*==============================
　　　 プラバシーポリシーページ
===============================*/
/*========== PC ==========*/
body.privacy{
  section{
    &.con01{
      padding: 100px 0;
      .listbox{
        padding-top: 80px;
        .box{
          padding-bottom: 55px;
          line-height: 1.6;
          h3{
            border-bottom: 3px solid $cl-blue01;
            margin-bottom: 15px;
            &::after{
              content: none;
            }
          }
          h4{
            font-size: 1.7rem;
            color: $cl-blue01;
            margin: 30px 0 10px;
          }
          ul{
            padding-top: 10px;
            li{
              padding-left: 18px;
              position: relative;
              &::before{
                content: '・';
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/*========== SP ==========*/
@media (max-width: 768px) {
  body.privacy{
    section{
      &.con01{
        padding: 40px 0 40px;
        font-size: 1.5rem;
        .listbox{
          padding-top: 60px;
          .box{
            padding-bottom: 40px;
            font-size: 1.5rem;
            h4{
              font-size: 1.7rem;
              margin: 15px 0 5px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}