/*==============================
　　　　　　トップページ
===============================*/
/*========== PC ==========*/
body {
  section {
    &.mv {
      .slider {
        margin-bottom: 0 !important;

        .slide-dots {
          position: absolute;
          bottom: 0;
          left: 0;

          li {
            display: inline-block;
            margin: 0 15px;

            button {
              position: relative;
              text-indent: -9999px;

              &:before {
                content: '';
                text-indent: 0px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 5px;
                border: 1px solid $cl-white;
              }
            }

            &.slick-active {
              button:before {
                content: '';
                background: $cl-white;
              }
            }
          }
        }
      }
    }

    &.sec01 {
      background: url(../cmn-img/index/pickup_bg.png) repeat;
      background-color: #EDF4FF;
      padding: 60px 0 100px;

      .wrapper {
        .news {
          text-align: center;
          width: 650px;
          margin: 110px auto 0;
          color: $cl-blue01;

          .tit {
            font-size: 2.0rem;
            padding-bottom: 10px;
          }

          .txt {
            padding: 15px 0;
            border-top: 3px dashed $cl-blue01;
            border-bottom: 3px dashed $cl-blue01;

            .txt01 {
              font-size: 1.8rem;

              span {
                font-size: 1.7rem;
              }
            }

            .txt02 {
              font-size: 1.3rem;
              padding-top: 10px;
              letter-spacing: 0.1em;
            }
          }
        }

        h2.tit {
          font-family: $ff-lato;
          font-size: 3.8rem;
          color: $cl-blue01;
          font-weight: 800;
          font-style: italic;
          letter-spacing: 0.08em;
          line-height: 1;
          margin-bottom: -5px;
          padding-left: 80px;
        }

        .flyer_box {
          display: flex;
          justify-content: center;
          margin-bottom: 70px;

          .flyer {
            margin: 20px;
            max-width: 460px;
          }
        }

        .bnr_box_outline {
          position: relative;

          .bnr_box {
            border: 3px solid $cl-blue01;
            padding: 40px 70px 25px;
            justify-content: center;
            display: flex;

            .bnr {
              width: 23.5%;
              float: left;
              margin-right: 2%;
              position: relative;
              z-index: 2;
              margin-bottom: 10px;

              &:nth-child(4n) {
                margin-right: 0;
              }

              a {
                img {
                  transition: .4s;
                }

                &:hover {
                  img {
                    opacity: .7;
                    transition: .4s;
                  }
                }
              }
            }

            &::before {
              content: '';
              background: $cl-white;
              border: 3px solid $cl-blue01;
              position: absolute;
              bottom: 0;
              right: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
            }

            &::after {
              content: '';
              background: $cl-blue01;
              position: absolute;
              bottom: -20px;
              right: -20px;
              width: 100%;
              height: 100%;
              z-index: 0;
            }
          }

          &::before {
            content: '';
            width: 65px;
            height: 55px;
            background: $cl-white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
          }

          &::after {
            content: "";
            background: url(../cmn-img/index/pickup_pin@2x.png);
            background-size: cover;
            width: 70px;
            height: 70px;
            position: absolute;
            top: -25px;
            left: -15px;
            z-index: 4;
          }
        }
      }
    }

    &.sec02 {
      background: $cl-blue02;
      padding: 70px 0 150px;
      position: relative;

      h2 {
        text-align: center;
        font-size: 4.6rem;
        font-weight: 800;
        color: $cl-blue01;
        line-height: 2.3;

        span {
          font-size: 3.0rem;
          background: $cl-blue01;
          color: $cl-white;
          padding: 8px 20px;
        }
      }

      p.message {
        text-align: center;
        color: $cl-blue01;
        line-height: 1.8;
        padding-top: 10px;
      }

      &::after {
        content: "";
        background: url(../cmn-img/index/message_town_bg@2x.png) repeat-x;
        background-size: contain;
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: -2px;
        left: 0;
      }
    }

    &.sec03 {
      background: $cl-blue01;
      padding: 150px 0 20px;

      .cont-box {
        padding-bottom: 100px;

        h2 {
          font-size: 3.2rem;
          font-weight: 700;
          color: $cl-white;
          text-align: center;
          letter-spacing: 0.08em;
          padding-left: 40px;

          span {
            position: relative;

            &::before {
              content: '';
              background: url(../cmn-img/index/check_icon@2x.png);
              background-size: cover;
              width: 86px;
              height: 90px;
              position: absolute;
              top: -65px;
              left: -100px;
            }
          }
        }

        .step_wrap {
          margin-top: 60px;

          .step {
            width: 23%;
            margin-right: 2%;
            float: left;

            .number {
              width: 71px;
              margin: 0 auto;

              img {
                width: 100%;
              }
            }

            .img {
              margin-bottom: 10px;

              img {
                width: 100%;
              }
            }

            p {
              color: $cl-white;
              font-weight: 500;

              &.txt01 {
                margin-bottom: 20px;
              }

              &.txt02 {
                font-size: 1.3rem;
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .box_wrap {
          padding-top: 60px;

          .box {
            border: 2px solid $cl-white;
            border-radius: 10px;
            padding: 40px 30px;
            width: 48%;
            float: left;
            position: relative;

            p {
              color: $cl-white;
              letter-spacing: 0.06em;
              font-weight: 500;

              &.tit {
                font-size: 2.4rem;
                text-align: center;
                font-weight: 700;
                width: 300px;
                position: absolute;
                top: -22px;
                left: 50%;
                margin-left: -150px;
                background: #0067B2;
                padding: 9px 25px;
                border-radius: 4px;
                line-height: 1;
              }

              &.txt {
                font-size: 1.6rem;
                padding: 0 0 30px;
              }
            }

            &:nth-child(even) {
              float: right;
            }
          }
        }

        p.text {
          color: $cl-white;
          padding-top: 40px;
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
    }

    &.sec04 {
      padding: 100px 0 120px;
      background: $cl-blue02;

      h2 {
        color: $cl-blue01;
        margin-bottom: 45px;
      }

      .tab-group {
        border-bottom: 4px solid $cl-blue01;

        .tab {
          padding: 15px 0 10px;
          text-align: center;
          cursor: pointer;
          width: 49%;
          float: left;
          font-size: 2.2rem;
          line-height: 1;
          border-radius: 10px 10px 0 0;
          border: 3px solid $cl-blue01;
          color: $cl-blue01;

          &:nth-child(even) {
            float: right;
          }

          &.is-active {
            background: $cl-blue01;
            color: $cl-white;
            transition: all 0.2s ease-out;
          }
        }
      }

      .badges {
        text-align: right;
        padding: 20px 0 15px;

        li {
          display: inline-block;
          position: relative;
          margin-left: 25px;
          font-size: 1.4rem;

          &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: -1px;
            left: -23px;
          }

          &.new {
            &::before {
              background: url(../cmn-img/ico/ico-badge_new.svg);
              background-size: cover;
            }
          }

          &.eco {
            &::before {
              background: url(../cmn-img/ico/ico-badge_eco.svg);
              background-size: cover;
            }
          }

          &.suv {
            &::before {
              background: url(../cmn-img/ico/ico-badge_suv.svg);
              background-size: cover;
            }
          }
        }
      }

      .panel-group {
        border-top: none;

        .panel {
          display: none;

          &.is-show_panel {
            display: flex;
            transition: all 0.2s ease-out;
            flex-wrap: wrap;
            justify-content: flex-start;
          }

          .box {
            padding: 20px;
            border-radius: 10px;
            width: 32%;
            margin-right: 2%;
            border: 3px solid $cl-blue01;
            position: relative;
            float: left;
            margin-bottom: 30px;
            background: $cl-white;

            &:nth-child(3n) {
              margin-right: 0;
            }

            p.tit {
              text-align: center;
              font-size: 1.7rem;
              padding-top: 10px;
            }

            .img {
              width: 280px;
              max-width: 100%;
              margin: 15px auto 20px;
            }

            .txtwrap {
              p {
                &.mintit {
                  color: $cl-blue01;
                  border-bottom: 2px solid $cl-blue01;
                  margin-bottom: 5px;
                  font-size: 1.4rem;
                }

                &.txt {
                  padding-bottom: 15px;
                  font-weight: 500;
                  font-size: 1.3rem;

                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
            }

            ul.badge {
              position: absolute;
              top: 8px;
              right: 8px;

              li {
                display: inline-block;
                width: 20px;

                img {
                  width: 100%;
                }
              }
            }
          }
        }

        p.btmtxt {
          font-size: 1.3rem;
          font-weight: 500;
          padding-top: 20px;
        }
      }
    }

    &.sec05 {
      background: #0067B2;
      padding: 100px 0 120px;

      h2 {
        color: $cl-white;
      }

      form {
        margin-top: 30px;
      }
    }

    &.sec06 {
      background: url(../cmn-img/index/pickup_bg.png) repeat;
      background-color: #EDF4FF;
      padding: 80px 0;

      .box {
        width: 48%;
        background: $cl-white;
        border: 1px solid #DEDEDE;
        padding: 30px 0;

        p {
          text-align: center;
          color: $cl-blue01;
        }

        a {
          &::after {
            content: '';
            background: url(../cmn-img/ico/ico-arrow.svg);
            width: 11px;
            height: 11px;
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -5px;
          }
        }
      }

      .instagram {
        float: left;

        p {
          margin-bottom: 10px;
        }

        .icon {
          width: 35px;
          margin: 0 auto 10px;
        }

        .img {
          width: 300px;
          margin: 0 auto 15px;
        }

        .button {
          background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
          background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
          width: 353px;
          border-radius: 8px;
          text-align: center;
          position: relative;
          overflow: hidden;
          margin: 0 auto;
          transition: .6s;

          &::before {
            content: "";
            position: absolute;
            top: 25px;
            left: 0;
            width: 100%;
            height: 130%;
            background: radial-gradient(#ffdb2c 0%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 90%);
            z-index: 0;
          }

          &:hover {
            opacity: .7;
            transition: .6s;
          }

          a {
            display: block;
            color: $cl-white;
            padding: 15px 0;
            z-index: 1;
            position: relative;
          }
        }
      }

      .carsensor {
        float: right;

        p {
          margin-bottom: 20px;
        }

        .img {
          width: 333px;
          margin: 0 auto 20px;
        }

        .button {
          a {
            display: block;
            text-align: center;
            color: $cl-white;
            background: #FF5100;
            border-radius: 8px;
            width: 353px;
            margin: 0 auto;
            padding: 15px 0;
            border: 2px solid #FF5100;
            position: relative;

            &:hover {
              background: $cl-white;
              color: #FF5100;

              &::after {
                background: url(../cmn-img/ico/ico-arrow02.svg);
              }
            }
          }
        }
      }
    }

    &.sec07 {
      background: url(../cmn-img/index/bg_01.png) repeat;
      background-size: 16px;
      background-color: $cl-white;
      padding: 120px 0 110px;

      h2 {
        font-size: 3.8rem;
        letter-spacing: 0.06em;
        text-align: center;
        color: $cl-blue01;
      }

      p.mintit {
        text-align: center;
        font-weight: 1.8rem;
        font-weight: 500;
        color: $cl-blue01;
        padding-top: 10px;
      }

      .boxwrap {
        padding: 50px 0 30px;

        .box {
          border: 4px solid $cl-blue01;
          border-radius: 10px;
          width: 49%;
          float: left;
          padding: 30px;
          margin-bottom: 20px;

          .icon {
            float: left;
            width: 20%;
          }

          .txtbox {
            float: right;
            width: 72%;

            p {
              &.tit {
                font-size: 2.2rem;
                letter-spacing: 0.06em;
                padding-bottom: 10px;
                font-weight: 700;
                color: $cl-blue01;
              }

              &.txt {
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: 0.04em;
              }
            }
          }

          &:nth-child(even) {
            float: right;
          }
        }
      }

      .message {
        .tit {
          background: $cl-blue01;
          width: 400px;
          margin: 0 auto;
          padding: 13px 0;
          border-radius: 50px;

          p {
            text-align: center;
            color: $cl-white;
            font-size: 2.2rem;
            letter-spacing: 0.08em;
            line-height: 1;
          }
        }

        .txtbox {
          padding-top: 25px;

          p {
            text-align: center;
            color: $cl-blue01;

            &.txt01 {
              font-weight: 700;
              font-size: 2.0rem;
            }

            &.txt02 {
              font-size: 1.3rem;
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}


/*======== TABLET ========*/
@media screen and (min-width: 760px) and (max-width: 1040px) {}


/*========== SP ==========*/
@media (max-width: 768px) {
  body {
    section {
      &.mv {
        .slider {
          .slide-dots {
            bottom: -35px;
            left: inherit;
            text-align: center;
            width: 100%;

            li {
              button {
                &:before {
                  left: -10px;
                  border: 1px solid $cl-blue01;
                }
              }

              &.slick-active {
                button:before {
                  background: $cl-blue01;
                }
              }
            }
          }
        }
      }

      &.sec01 {
        padding: 60px 0 50px;

        .wrapper {
          .news {
            padding-bottom: 35px;
            margin-top: 90px;
            width: 96%;

            .tit {
              font-size: 1.8rem;
              padding-bottom: 10px;
            }

            .txt {
              padding: 17px 0;

              .txt01 {
                font-size: 1.5rem;
                letter-spacing: 0;

                span {
                  font-size: 1.4rem;
                }
              }

              .txt02 {
                font-size: 1.2rem;
                padding-top: 10px;
                letter-spacing: 0.1em;
              }
            }
          }

          h2.tit {
            font-size: 2.6rem;
            padding-left: 70px;
          }

          .flyer_box {
            display: block;
            margin-bottom: 50px;
          }

          .bnr_box_outline {
            width: 92%;
            margin: 0 auto;

            .bnr_box {
              padding: 30px 20px 10px;
              display: block;

              .bnr {
                width: 48%;
                margin-right: 0 !important;
                margin-bottom: 5px;

                &:nth-child(odd) {
                  float: left;
                }

                &:nth-child(even) {
                  float: right;
                }
              }

              &::after {
                bottom: -10px;
                right: -10px;
              }
            }

            &::before {
              width: 45px;
              height: 27px;
              top: -1px;
              left: -1px;
            }

            &::after {
              width: 43px;
              height: 43px;
              top: -13px;
              left: -3px;
            }
          }
        }
      }

      &.sec02 {
        padding: 50px 0 70px;

        h2 {
          font-size: 2.8rem;
          line-height: 1.4;

          span {
            font-size: 1.8rem;
            padding: 12px 0;
            display: block;
            margin-bottom: -20px;
          }
        }

        p.message {
          text-align: left;
          line-height: 1.6;
          padding-top: 15px;
          font-size: 1.6rem;
        }

        &::after {
          background-size: cover;
          height: 50px;
        }
      }

      &.sec03 {
        padding: 110px 0 0;

        .cont-box {
          padding-bottom: 110px;

          h2 {
            font-size: 2.6rem;
            padding-left: 0;

            span {
              &::before {
                width: 66px;
                height: 70px;
                top: -90px;
                left: -10px;
              }
            }
          }

          .step_wrap {
            margin-top: 0;

            .step {
              width: 100%;
              margin-right: 0;
              float: none;
              margin-top: 40px;

              .number {
                width: 65px;
                margin: 0 auto 3px;
              }

              .img {
                margin-bottom: 10px;
              }

              p {
                &.txt01 {
                  margin-bottom: 10px;
                  font-size: 1.4rem;
                }

                &.txt02 {
                  font-size: 1.2rem;
                }
              }
            }
          }

          .box_wrap {
            padding-top: 60px;

            .box {
              padding: 30px 20px 20px;
              width: 100%;
              float: none;
              margin-bottom: 50px;

              p {
                &.tit {
                  font-size: 2.0rem;
                  width: 80%;
                  margin-left: -40%;
                  padding: 9px 0;
                }

                &.txt {
                  font-size: 1.5rem;
                  padding: 0 0 20px;
                }
              }

              &:nth-child(even) {
                float: none;
                margin-bottom: 0;
              }
            }
          }

          p.text {
            padding-top: 20px;
            font-size: 1.3rem;
          }

          &:last-child {
            padding-bottom: 60px;
          }
        }
      }

      &.sec04 {
        padding: 60px 0 50px;

        h2 {
          margin-bottom: 30px;
        }

        .tab-group {
          .tab {
            width: 49%;
            font-size: 1.8rem;
            border-bottom: none;
          }
        }

        .badges {
          text-align: center;
          padding: 20px 0 15px;

          li {
            margin-left: 30px;
            font-size: 1.3rem;
          }
        }

        .panel-group {
          .panel {
            .box {
              padding: 20px;
              width: 100%;
              margin-right: 0;
              float: none;
              margin-bottom: 20px;

              p.tit {
                text-align: center;
                font-size: 1.6rem;
              }

              .img {
                width: 350px;
                max-width: 100%;
              }

              img {
                width: 100%;
              }

              ul.badge {
                top: 8px;
                right: 8px;

                li {
                  width: 22px;
                }
              }
            }
          }

          p.btmtxt {
            padding-top: 0;
          }
        }
      }

      &.sec05 {
        padding: 70px 0 50px;
      }

      &.sec06 {
        padding: 50px 0;

        .box {
          width: 100%;
          padding: 20px 0;

          .img {
            width: 80%;
            margin: 0 auto 10px;
          }
        }

        .instagram {
          float: none;
          margin-bottom: 15px;

          .button {
            width: 80%;

            a {
              width: 100%;
            }
          }
        }

        .carsensor {
          float: none;

          .button {
            a {
              width: 80%;
            }
          }
        }
      }

      &.sec07 {
        background-size: 16px;
        padding: 70px 0 60px;

        h2 {
          font-size: 2.8rem;
        }

        p.mintit {
          font-weight: 1.6rem;
          padding-top: 20px;
          width: 94%;
          margin: 0 auto;
        }

        .boxwrap {
          padding: 50px 0 30px;

          .box {
            width: 100%;
            float: none;
            padding: 20px 15px;
            margin-bottom: 20px;

            .icon {
              width: 18%;

              &.icon01 {
                padding: 10px 0 0 0;
              }

              &.icon02 {
                padding: 10px 5px 0 10px;
              }

              &.icon03 {
                padding: 10px 0 0 3px;
              }

              &.icon04 {
                padding: 10px 0 0 0;
              }
            }

            .txtbox {
              width: 78%;

              p {
                &.tit {
                  font-size: 2.0rem;
                  padding-bottom: 10px;
                }

                &.txt {
                  font-size: 1.4rem;
                }
              }
            }

            &:nth-child(even) {
              float: none;
            }
          }
        }

        .message {
          .tit {
            width: 85%;
            max-width: 300px;
            padding: 10px 0;

            p {
              text-align: center;
              color: $cl-white;
              font-size: 2.2rem;
              letter-spacing: 0.08em;
              line-height: 1;
            }
          }

          .txtbox {
            padding-top: 25px;

            p {
              &.txt01 {
                font-size: 1.7rem;
              }

              &.txt02 {
                font-size: 1.2rem;
                padding-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.home {
  .news {
    li {
      text-align: left;

      &:not(:first-child) {
        margin-top: 1em;
      }

      .date {
        width: 150px;

        @media (max-width: 768px) {
          width: 100%;
          display: block;
        }
      }

      .title {
        width: calc(100% - 150px);

        @media (max-width: 768px) {
          width: 100%;
          display: block;
        }
      }

      a {
        color: #00256B;
        font-size: 1.7rem;
        display: flex;

        @media (max-width: 768px) {
          flex-direction: column;
          font-size: 1.6rem;
        }

        &:hover {
          .title {
            text-decoration: underline;
          }
        }
      }
    }

    .more {
      font-size: 1.7rem;
      margin-top: 10px;
      text-align: right;

      @media (max-width: 768px) {
        font-size: 1.6rem;
      }

      a {
        color: #00256B;
      }

      .arrow {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background-color: #00256B;
        margin: 0 0 6px 10px;

        &:before {
          content: "";
          position: absolute;
          top: 3px;
          right: -2px;
          display: block;
          width: 10px;
          height: 3px;
          border-radius: 2px;
          background-color: #00256B;
          transform: rotate(-45deg);
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 3px;
          right: -2px;
          display: block;
          width: 10px;
          height: 3px;
          border-radius: 2px;
          background-color: #00256B;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.swallowArea {
  background: #2a2a32;

  .swallow-wrap {
    position: relative;
    height: 0;
    padding-top: 64.8%;

    @media (max-width: 768px) {
      padding-top: 90%;
    }

    &:after {
      content: "";
      background: url("../cmn-img/index/img_swallow.png") no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 50%;
      height: 100%;
      margin-left: 50%;
      background-size: contain;

      @media (max-width: 768px) {
        background: url("../cmn-img/index/img_swallow_sp.png") no-repeat;
        background-size: cover;
      }
    }
  }

  .swallow-inner {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;

    @media (max-width: 768px) {
      width: 55%;
    }
  }

  .swallow-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    color: #fff;
    margin: 5% 0 5% 5%;

    @media (max-width: 768px) {
      margin: 3% 0 3% 5%;
    }

    .logo {
      @media (max-width: 768px) {
        width: 90%;
        text-align: left;
      }

      img {
        @media (max-width: 768px) {
          width: 80%;
        }
      }
    }

    .lead {
      text-align: center;
      font-size: 28px;
      margin-top: 10%;
      line-height: 1.7em;

      @media (max-width: 1000px) {
        font-size: 20px;
        margin-top: 5%;
      }

      @media (max-width: 768px) {
        font-size: 11px;
        margin-top: 0;
      }
    }

    .content {
      text-align: center;
      font-size: 20px;
      margin-top: 10%;
      font-weight: 500;

      @media (max-width: 1000px) {
        font-size: 15px;
      }

      @media (max-width: 768px) {
        font-size: 9px;
        margin-top: 10px;
      }
    }

    .link {
      width: 80%;
      margin-top: 10%;

      @media (max-width: 768px) {
        margin-top: 15px;
      }

      a {
        display: block;
        background: #fff;
        font-size: 24px;
        border-radius: 100px;
        padding: 10px 0;
        border: 2px solid #fff;
        text-align: center;
        color: #2a2a32;
        transition: 0.3s;

        @media (max-width: 1000px) {
          font-size: 20px;
          padding: 8px 0;
        }

        @media (max-width: 768px) {
          font-size: 10px;
          padding: 6px 0;
        }

        &:hover {
          background: #2a2a32;
          color: #fff;
        }
      }
    }
  }
}

.campArea {
  position: relative;

  .camp-image {
    img {
      width: 100%;
    }
  }

  .camp-link {
    position: absolute;
    right: 6%;
    bottom: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 28%;

    @media (max-width: 768px) {
      bottom: 4%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 60%;
    }

    a {
      display: flex;
      width: 80%;
      margin-top: 10px;
      text-align: center;

      span {
        color: #fff;
        background: #F44730;
        border: 2px solid #F44730;
        padding: 4px 0;
        width: 100%;
        border-radius: 100px;
        font-size: 15px;
        letter-spacing: 0.05em;
        transition: 0.3s;

        @media (max-width: 1000px) {
          font-size: 13px;
        }

        @media (max-width: 768px) {
          font-size: 12px;
          border: 1px solid #F44730;
        }
      }

      &:hover {
        span {
          color: #F44730;
          background: #fff;
        }
      }
    }
  }
}

#pricelist {
  padding: 100px 0 120px;
  @media (max-width: 768px) {
    padding: 60px 0 50px;
  }

  h2 {
    color: #00256B;
    margin-bottom: 45px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .chart {
    img {
      width: 100%;
    }
  }
}
