/*=============================================
　　基本設定
==============================================*/
html {
  font-size: 62.5%;
}
body {
  font-family: $ff-base;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  color: $cl-black;
  position: relative;
  letter-spacing: 0.08em;
  padding-top: 70px;
}
a{
  color: $cl-black;
  transition: .6s;
  &:hover{
    color: $cl-blue01;
    transition: .6s;
    cursor: pointer;
  }
}
ul{
  li{
    list-style: none;
  }
}

.sp-on{display: none;}
.pc-on{display: block;}
@media (max-width: 768px) {
  .pc-on{display: none;}
  .sp-on{display: block;}
}



/*======== 幅指定 ========*/
.wrapper{
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body{
    padding-top: 50px;
  }
  .wrapper{
    width: 94%;
    margin: 0 auto;
  }
}

.clearfix{
  @include float-clear;
}


@media (min-width: 751px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}


.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: .8s;
  &.is-show{
    transform: translate(0, 0);
    opacity: 1;
  }
}
.fadeIn_up01 {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1s;
  &.is-show{
    transform: translate(0, 0);
    transition-delay: .3s;
    opacity: 1;
  }
}
.fadeIn_up02 {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1s;
  &.is-show {
    transform: translate(0, 0);
    transition-delay: .5s;
    opacity: 1;
  }
}
.fadeIn_up03 {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1s;
  &.is-show {
    transform: translate(0, 0);
    transition-delay: .9s;
    opacity: 1;
  }
}

.fade01{
  opacity: 0;
  transition: .6s;
  &.is-show{
    opacity: 1;
    transition-delay: .2s;
  }
}
.fade02{
  opacity: 0;
  transition: .6s;
  &.is-show{
    opacity: 1;
    transition-delay: .6s;
  }
}
.fade03{
  opacity: 0;
  transition: .6s;
  &.is-show{
    opacity: 1;
    transition-delay: 1.0s;
  }
}
.fade04{
  opacity: 0;
  transition: .6s;
  &.is-show{
    opacity: 1;
    transition-delay: 1.2s;
  }
}

.rotate01{
  &.is-show{
    animation: rotateInDownLeft 1.0s;
  }
}

.swing01{
  &.is-show{
    animation: swing 1s;
  }
}



@media (max-width: 768px) {
  .fadeIn_up {
    opacity: 0;
    transform: translate(0, 30%);
    transition: .6s;
    &.is-show{
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  .fadeIn_up01 {
    opacity: 0;
    transform: translate(0, 30%);
    transition: 1s;
    &.is-show{
      transform: translate(0, 0);
      transition-delay: .2s;
      opacity: 1;
    }
  }
  .fadeIn_up02 {
    opacity: 0;
    transform: translate(0, 30%);
    transition: 1s;
    &.is-show {
      transform: translate(0, 0);
      transition-delay: .2s;
      opacity: 1;
    }
  }
  .fadeIn_up03 {
    opacity: 0;
    transform: translate(0, 30%);
    transition: 1s;
    &.is-show {
      transform: translate(0, 0);
      transition-delay: .2s;
      opacity: 1;
    }
  }
  .fade01{
    opacity: 0;
    transition: .4s;
    &.is-show{
      opacity: 1;
      transition-delay: .2s;
    }
  }
  .fade02{
    opacity: 0;
    transition: .4s;
    &.is-show{
      opacity: 1;
      transition-delay: .3s;
    }
  }
  .fade03{
    opacity: 0;
    transition: .4s;
    &.is-show{
      opacity: 1;
      transition-delay: .4s;
    }
  }
  .fade04{
    opacity: 0;
    transition: .4s;
    &.is-show{
      opacity: 1;
      transition-delay: .5s;
    }
  }
}