/*=============================================
　　共通パーツ
==============================================*/
body{
  /*-----タイトル-----*/
  h2{
    &.tit01{
      text-align: center;
      span{
        &.jp{
          font-size: 3.8rem;
          letter-spacing: 0.06em;
        }
        &.en{
          font-family: $ff-lato;
          font-style: italic;
          letter-spacing: 0.1em;
          font-size: 1.8rem;
        }
      }
    }
  }
  h3{
    border-bottom: 3px solid #A5A5A5;
    position: relative;
    font-size: 2.2rem;
    color: $cl-blue01;
    line-height: 1;
    padding-bottom: 7px;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      background: $cl-blue01;
      height: 5px;
      width: 200px;
    }
  }
  section{
    /*-----お問い合わせエリア-----*/
    &.contactArea{
      background: $cl-blue01;
      color: $cl-white;
      padding: 60px 0 80px;
      .boxwrap{
        margin-top: 30px;
        .box{
          padding: 35px;
          border: 5px solid $cl-white;
          border-radius: 20px;
          width: 48%;
          p{
            &.tit{
              text-align: center;
              color: $cl-white;
              font-size: 2.4rem;
              letter-spacing: 0.06em;
              font-weight: 700;
            }
          }
          &.tel{
            float: left;
            p{
              &.number{
                font-weight: 800;
                text-align: center;
                font-family: $ff-lato;
                font-size: 4.6rem;
                letter-spacing: 0.04em;
                font-style: italic;
                span{
                  position: relative;
                  padding-left: 40px;
                  &::before{
                    content: '';
                    background:url(../cmn-img/ico/ico-contact_tel.svg) no-repeat;
                    background-size:cover;
                    width: 45px;
                    height: 43px;
                    position: absolute;
                    top: 7px;
                    left: 0;
                  }
                  a{
                    color: $cl-white;
                  }
                }
              }
              &.txt{
                text-align: center;
              }
            }
          }
          &.mail{
            float: right;
            a{
              display: block;
              text-align: center;
              color: $cl-white;
              background: $cl-blue01;
              padding: 16px 0;
              width: 100%;
              background: #0067B2;
              border-radius: 10px;
              font-size: 2.2rem;
              letter-spacing: 0.06em;
              margin-top: 10px;
              border: 3px solid #0067B2;
              position: relative;
              span{
                position: relative;
                padding-left: 30px;
                &::before{
                  content: "";
                  background: url(../cmn-img/ico/ico-contact_email.svg) no-repeat;
                  background-size: cover;
                  width: 32px;
                  height: 24px;
                  position: absolute;
                  top: -2px;
                  left: -6px;
                }
              }
              &::after{
                content: '';
                background:url(../cmn-img/ico/ico-arrow.svg);
                width: 11px;
                height: 12px;
                position: absolute;
                top: 50%;
                right: 20px;
                margin-top: -5px;
              }
              &:hover{
                background: $cl-blue01;
              }
            }
          }
        }
      }
    }
    /*-----フォーム-----*/
    form{
      background: $cl-blue02;
      padding: 60px;
      border-radius: 40px;
      margin-top: 50px;
      .kome{
        color: #D92E26;
        font-size: 1.1rem;
        font-weight: 500;
      }
      table{
        width: 100%;
        tr{
          th{
            width: 30%;
            text-align: left;
            padding: 25px 15px 15px 0;
            vertical-align: text-top;
            &.required{
              span{
                position: absolute;
                &::after{
                  content: '＊';
                  color: #D92E26;
                  font-size: 1.1rem;
                  font-weight: 500;
                  position: absolute;
                  top: 5px;
                  right: -15px;
                }
              }
            }
          }
          td{
            width: 70%;
            padding: 15px 0 15px 15px;
            select,input,textarea{
              border: 2px solid $cl-blue01;
              border-radius: 5px;
              padding: 5px 10px;
              background: $cl-white;
            }
            .code-text{
              font-size: 1.3rem;
              margin-top: 5px;
            }
            .selectbox{
              position: relative;
              width: 230px;
              display: block;
              &::after{
                content: '▼';
                position: absolute;
                top: 11px;
                right: 10px;
                font-size: 1.3rem;
                color: $cl-blue01;
                pointer-events: none;
              }
              select{
                width: 230px;
              }
            }
            input.txt01{
              width: 230px;
            }
            input.txt02{
              width: 100%;
            }
            input.txt03{
              width: 150px;
            }
            textarea{
              width: 100%;
              height: 180px;
            }
            label.about{
              line-height: 2;
            }
            .detetime{
              float: left;
              width: 230px;
              &:first-child{
                margin-right: 10px;
              }
              .datebox{
                position: relative;
                overflow: hidden;
                &::before{
                  content: "";
                  background: $cl-blue01;
                  height: 40px;
                  width: 42px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  border-radius: 0 10px 10px 0;
                  pointer-events: none;
                }
                &::after{
                  content: "";
                  background: url(../cmn-img/ico/ico-calendar.svg) no-repeat;
                  background-size: cover;
                  width: 18px;
                  height: 20px;
                  position: absolute;
                  top: 7px;
                  right: 12px;
                  pointer-events: none;
                }
              }
              .timebox{
                position: relative;
                overflow: hidden;
                &::before{
                  content: "";
                  background: $cl-blue01;
                  height: 40px;
                  width: 42px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  border-radius: 0 10px 10px 0;
                  pointer-events: none;
                }
                &::after{
                  content: "";
                  background: url(../cmn-img/ico/ico-clock.svg) no-repeat;
                  background-size: cover;
                  width: 21px;
                  height: 20px;
                  position: absolute;
                  top: 8px;
                  right: 10px;
                  pointer-events: none;
                }
              }
            }
            ul{
              li.-radio-list-item{
                display: inline-block;
              }
            }
            &.contact_radio{
              ul{
                li.-radio-list-item{
                  display: inherit;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
        .-error-message{
          color: #D92E26;
          font-size: 1.3rem;
          margin-top: 5px;
        }
      }
      .agree{
        padding-top: 20px;
        p{
          font-weight: 500;
          font-size: 1.1rem;
          text-align: center;
          a{
            color: $cl-blue01;
            font-weight: 700;
            text-decoration: underline;
            font-size: 1.2rem;
          }
        }
        .check{
          margin: 15px auto 40px;
          text-align: center;
          #-checked{
            width: 18px;
            height: 18px;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
      .contact-btn{
        width: 300px;
        margin: 0 auto;
        a.contact-btn-item{
          background: $cl-blue01;
          color: $cl-white;
          text-align: center;
          display: block;
          padding: 20px 0;
          border: 2px solid $cl-blue01;
          cursor: pointer;
          &.-stop{
            background: $cl-blue02;
            color: $cl-blue01;
            cursor: inherit;
          }
        }
      }
      &.-confirm{
        .contact-btn{
          width: 650px;
          margin: 40px auto 0;
          a.contact-btn-item{
            width: 48%;
            background: $cl-blue01;
            color: $cl-white;
            text-align: center;
            display: block;
            padding: 20px 0;
            border: 2px solid $cl-blue01;
            &:hover{
              background: $cl-blue02;
              color: $cl-blue01;
              &:first-child{
                background: $cl-blue02;
                color: #666;
              }
            }
            &:first-child{
              float: left;
              background: #666;
              border: 2px solid #666;
            }
            &:last-child{
              float: right;
            }
          }
        }
      }
    }
    /*-----キービジュアル-----*/
    &.keyVisual{
      background: $cl-blue01;
      padding: 90px 0 75px;
      .titbox{
        h2{
          color: $cl-white;
          text-align: center;
          span{
            &.jp{
              font-size: 3.8rem;
              font-weight: 500;
            }
            &.en{
              font-size: 1.8rem;
              font-family: $ff-lato;
              font-style: italic;
              letter-spacing: 0.1em;
            }
          }
        }
      }
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 500px) and (max-width: 770px) {
}

/*========== SP ==========*/
@media (max-width: 768px) {
  body{
    /*-----タイトル-----*/
    h2{
      &.tit01{
        line-height: 1.2;
        span{
          &.jp{
            font-size: 2.8rem;
          }
          &.en{
            font-size: 1.5rem;
          }
        }
      }
    }
    h3{
      font-size: 1.8rem;
      &::after{
        width: 100px;
      }
    }
    section{
      /*-----お問い合わせエリア-----*/
      &.contactArea{
        padding: 50px 0;
        .boxwrap{
          margin-top: 20px;
          .box{
            padding: 20px;
            width: 100%;
            p{
              &.tit{
                font-size: 1.8rem;
              }
            }
            &.tel{
              float: none;
              margin-bottom: 20px;
              p{
                &.number{
                  font-size: 3.2rem;
                  span{
                    padding-left: 30px;
                    &::before{
                      width: 38px;
                      height: 36px;
                      top: 2px;
                      left: 0;
                    }
                  }
                }
                &.txt{
                  font-size: 1.2rem;
                }
              }
            }
            &.mail{
              float: none;
              a{
                padding: 10px 0;
                font-size: 1.6rem;
              }
            }
          }
        }
      }
      /*-----フォーム-----*/
      form{
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        table{
          tr{
            th{
              display: block;
              width: 100%;
              padding: 15px 0 10px;
              &.required{
                span{
                  position: relative;
                  &::after{
                    top: 0;
                  }
                }
              }
            }
            td{
              display: block;
              width: 100%;
              padding: 0;
              select,input,textarea{
                padding: 5px 10px;
              }
              .select{
                width: 200px;
              }
              input.txt02{
                width: 100%;
              }
              input.txt03{
                width: 70%;
              }
              textarea{
                width: 100%;
                height: 100px;
              }
              .detetime{
                float: none;
                width: 230px;
                &:first-child{
                  margin-right: 0;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
        .agree{
          .check{
            margin-bottom: 20px;
          }
        }
        .contact-btn{
          width: 280px;
          margin-bottom: 20px;
          a.contact-btn-item{
            padding: 15px 0;
          }
        }
        &.-confirm{
          .contact-btn{
            margin: 20px auto;
            width: 280px;
            a.contact-btn-item{
              width: 100%;
              padding: 15px 0;
              &:first-child{
                float: none;
                margin-bottom: 10px;
              }
              &:last-child{
                float: none;
              }
            }
          }
        }
      }
      &.keyVisual{
        padding: 60px 0 50px;
        .titbox{
          h2{
            line-height: 1.2;
            span{
              &.jp{
                font-size: 2.8rem;
              }
              &.en{
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

