body{
  section{
    &.shop_info{
      padding: 70px 0 0;
      background: $cl-blue02;
      h2{
        text-align: center;
        color: $cl-blue01;
        font-family: $ff-lato;
        font-weight: 700;
        letter-spacing: 0.08em;
        font-style: italic;
      }
      .img_txt{
        padding-top: 30px;
        .imgbox{
          width: 50%;
          float: left;
        }
        .txtbox{
          width: 48%;
          float: right;
          p{
            &.tit{
              font-size: 2.4rem;
              font-weight: 700;
            }
            &.txt01{
              font-size: 1.3rem;
              padding-top: 10px;
              font-weight: 500;
            }
          }
          .info{
            p{
              &.mintit{
                color: $cl-white;
                margin: 20px auto 10px;
                span{
                  background: $cl-blue01;
                  border-radius: 50px;
                  padding: 7px 20px;
                }
              }
              &.txt{
                font-size: 1.3rem;
                font-weight: 500;
              }
            }
          }
        }
      }
      .recruit_bnr{
        margin: 40px auto 50px;
      }
      .map{
        iframe{
          width: 100%;
          height: 350px;
          vertical-align: bottom;
        }
      }
    }
  }
  footer{
    background: $cl-blue01;
    padding: 50px 0 30px;
    .logo_nav{
      .logo{
        float: left;
        ul{
          li{
            display: inline-block;
            vertical-align: middle;
            &.logo_img{
              width: 134.5px;
              img{
                width: 100%;
              }
            }
            &.logo_txt{
              color: $cl-white;
              font-size: 1.4rem;
              font-weight: 500;
              padding-left: 7px;
              padding-top: 15px;
            }
          }
        }
      }
      ul.nav{
        float: right;
        li{
          display: inline-block;
          font-size: 1.2rem;
          padding-left: 30px;
          font-weight: 500;
          letter-spacing: 0.04em;
          a{
            color: $cl-white;
          }
        }
      }
    }
    .copyright{
      text-align: right;
      color: $cl-white;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.06em;
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1040px) {
}


/*========== SP ==========*/
@media (max-width: 768px) {
  body{
    section{
      &.shop_info{
        padding: 45px 0 0;
        .img_txt{
          padding-top: 20px;
          .imgbox{
            width: 100%;
            float: none;
          }
          .txtbox{
            width: 100%;
            float: none;
            margin-top: 10px;
            p{
              &.tit{
                font-size: 2.0rem;
              }
              &.txt01{
                padding-top: 10px;
                a{
                  color: $cl-black;
                }
              }
            }
            .info{
              p{
                &.mintit{
                  margin: 20px auto 10px;
                }
                &.txt{
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
        .recruit_bnr{
          margin: 30px auto;
        }
        .map{
          iframe{
            height: 250px;
          }
        }
      }
    }
    footer{
      padding: 35px 0 20px;
      .logo_nav{
        .logo{
          float: none;
          text-align: center;
          ul{
            li{
              display: inherit;
              &.logo_img{
                width: 100px;
                margin: 0 auto;
              }
              &.logo_txt{
                font-size: 1.2rem;
                padding-left: 0;
                padding-top: 0;
              }
            }
          }
        }
        ul.nav{
          float: none;
          margin-top: 30px;
          li{
            display: inherit;
            font-size: 1.2rem;
            padding-left: 0;
            width: 48%;
            text-align: center;
            margin-bottom: 15px;
            a{
              display: block;
              border: 1px solid $cl-white;
              padding: 16px 0;
            }
            &:nth-child(odd){
              float: left;
            }
            &:nth-child(even){
              float: right;
            }
          }
        }
      }
      .copyright{
        text-align: center;
        padding-top: 35px;
      }
    }
  }
}