header{
  background: $cl-white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  .wrapper{
    padding: 15px 0 6px;
    .logo{
      float: left;
      a{
        ul{
          li{
            display: inline-block;
            vertical-align: middle;
            &.logo_img{
              width: 134.5px;
              img{
                width: 100%;
              }
            }
            &.logo_txt{
              h1{
                font-size: 1.2rem;
                color: $cl-black;
                padding: 10px 0 0 3px;
              }
            }
          }
        }
      }
    }
    .gnav{
      float: right;
      li{
        display: inline-block;
        font-size: 1.4rem;
        text-align: center;
        margin-right: 40px;
        a{
          padding-top: 35px;
          display: block;
          position: relative;
          &::before{
            content: '';
            position: absolute;
          }
        }
        &.top{
          a{
            &::before{
              background:url(../cmn-img/ico/ico-home.svg) no-repeat;
              background-size:cover;
              top: 0;
              left: 50%;
              margin-left: -16px;
              width: 31px;
              height: 28px;
            }
          }
        }
        &.testdrive{
          a{
            &::before{
              background:url(../cmn-img/ico/ico-testdrive.svg) no-repeat;
              background-size:cover;
              top: 3px;
              left: 50%;
              margin-left: -20px;
              width: 41px;
              height: 23px;
            }
          }
        }
        &.company{
          a{
            &::before{
              background:url(../cmn-img/ico/ico-company.svg) no-repeat;
              background-size:cover;
              top: 0;
              left: 50%;
              margin-left: -13px;
              width: 26px;
              height: 27px;
            }
          }
        }
        &.contact{
          margin-right: 0;
          a{
            &::before{
              background:url(../cmn-img/ico/ico-contact.svg) no-repeat;
              background-size:cover;
              top: 0;
              left: 50%;
              margin-left: -20px;
              width: 33px;
              height: 31px;
            }
          }
        }
        &.news{
          a{
            &::before{
              background:url(../cmn-img/ico/ico-news.svg) no-repeat;
              background-size:cover;
              top: 2px;
              left: 50%;
              margin-left: -18px;
              width: 33px;
              height: 26px;
            }
          }
        }
        &.swallow{
          a{
            &::before{
              background:url(../cmn-img/ico/ico-swallow.svg) no-repeat;
              background-size:cover;
              top: 4px;
              left: 50%;
              margin-left: -18px;
              width: 35px;
              height: 23px;
            }
          }
        }
        &.recruit{
          a{
            &::before{
              background:url(../cmn-img/ico/ico-recruit.svg) no-repeat;
              background-size:cover;
              top: 2px;
              left: 50%;
              margin-left: -15px;
              width: 31px;
              height: 31px;
            }
          }
        }
      }
    }
  }
  &.shadow{
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  }
}
#navbtn{
  display:none;
}


/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1040px) {
}

/*========== SP ==========*/
@media (max-width: 768px) {
  header{
    height: 50px;
    .wrapper{
      padding: 10px 0 6px;
      .logo{
        float: none;
        width: 250px;
        position: relative;
        z-index: 100;
        a{
          ul{
            li{
              &.logo_img{
                width: 80px;
              }
              &.logo_txt{
                h1{
                  font-size: 1.0rem;
                }
              }
            }
          }
        }
      }
      .gnav{
        float: none;
        ul{
          width: 100%;
          padding-top: 80px;
          li{
            display: inherit;
            font-size: 1.4rem;
            text-align: left;
            width: 90%;
            margin: 0 auto;
            border-bottom: dashed 1px $cl-blue01;
            a{
              position: inherit;
              padding: 20px 0 20px 50%;
              margin-left: -70px;
              &::before{
                content: none;
                position: inherit;
              }
              span{
                position: relative;
                padding-left: 60px;
                &::before{
                  content: '';
                  position: absolute;
                }
              }
            }
            &.top{
              a{
                span{
                  &::before{
                    background:url(../cmn-img/ico/ico-home.svg) no-repeat;
                    background-size:cover;
                    top: -5px;
                    left: 5px;
                    width: 31px;
                    height: 28px;
                  }
                }
              }
            }
            &.testdrive{
              a{
                span{
                  &::before{
                    background:url(../cmn-img/ico/ico-testdrive.svg) no-repeat;
                    background-size:cover;
                    top: -3px;
                    left: 0;
                    width: 41px;
                    height: 23px;
                  }
                }
              }
            }
            &.company{
              a{
                span{
                  &::before{
                    background:url(../cmn-img/ico/ico-company.svg) no-repeat;
                    background-size:cover;
                    top: -5px;
                    left: 10px;
                    width: 26px;
                    height: 27px;
                  }
                }
              }
            }
            &.contact{
              margin: 0 auto;
              a{
                span{
                  &::before{
                    background:url(../cmn-img/ico/ico-contact.svg) no-repeat;
                    background-size:cover;
                    top: -5px;
                    left: 5px;
                    width: 33px;
                    height: 31px;
                  }
                }
              }
            }
            &.news{
              margin: 0 auto;
              a{
                span{
                  &::before{
                    background:url(../cmn-img/ico/ico-news.svg) no-repeat;
                    background-size:cover;
                    top: -5px;
                    left: 1px;
                    width: 33px;
                    height: 26px;
                  }
                }
              }
            }
            &.swallow{
              margin: 0 auto;
              a{
                span{
                  &::before{
                    background:url(../cmn-img/ico/ico-swallow.svg) no-repeat;
                    background-size:cover;
                    top: -3px;
                    left: 2px;
                    width: 35px;
                    height: 23px;
                  }
                }
              }
            }
            &.recruit{
              margin: 0 auto;
              a{
                span{
                  &::before{
                    background:url(../cmn-img/ico/ico-recruit.svg) no-repeat;
                    background-size:cover;
                    top: -5px;
                    left: 7px;
                    width: 31px;
                    height: 31px;
                  }
                }
              }
            }
          }
        }
      }
      .box{
        border: 5px solid $cl-blue01;
        border-radius: 20px;
        padding: 20px 0;
        width: 80%;
        margin: 40px auto 0;
        p{
          color: $cl-blue01;
          &.tit{
            font-size: 1.5rem;
            text-align: center;
          }
          &.number{
            font-weight: 800;
            text-align: center;
            font-family: $ff-lato;
            font-size: 3.0rem;
            letter-spacing: 0.04em;
            font-style: italic;
            span{
              position: relative;
              padding-left: 35px;
              &::before{
                content: '';
                background:url(../cmn-img/ico/ico-contact_tel02.svg) no-repeat;
                background-size:cover;
                position: absolute;
                width: 36px;
                height: 34px;
                top: 2px;
                left: 0;
              }
              a{
                color: $cl-blue01;
              }
            }
          }
          &.txt{
            text-align: center;
            font-size: 1.0rem;
          }
        }
      }
    }
  }

  /*-----MENU-----*/
  .gnav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $cl-blue02;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #navbtn{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    outline: none;
    border: none;
    background: $cl-blue01;
    padding: 13px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  #navbtn::before,
  #navbtn::after{
    content : '';
    display: block;
    height: 1px;
    background-color: $cl-white;
    transform: translateY(8px);
    transition: 0.3s ease-in-out;
  }
  #navbtn::before{
    transform: translateY(-7px);
    box-shadow: 0 8px $cl-white;
  }
  .open{
    #navbtn{
      z-index: 100;
      &::before{
        transform: rotate(-45deg);
        box-shadow: none;
      }
      &::after{
        transform: rotate(45deg);
        box-shadow: none;
      }
    }
    .gnav{
      visibility: visible;
      opacity: 1;
    }
  }
  
}


