/* リセット */

body,
hr,
p,
ul,
ol,
h1,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    border: none;
    width: 100%;
}

hr {
    border-bottom: none;
}

a {
    color: #000;
    text-decoration: underline;
    transition: 0.3s;
}

a:hover {
  color: #ee3281;
  text-decoration: none;
    /*opacity: 0.7;*/
}


/* outline */

body {
  font-size: 14px;
  line-height: 1.8;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

.-wrapper {
  width: 700px;
  margin: 0 auto;
}

@media screen and (max-width:768px){

  body {
    font-size: 13px;
  }

  .-wrapper {
    width: 90%;
  }

}


/* header */

.header {
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.header-logo {
}

.header-logo .-en {
  display: block;
  font-family: 'MuseoModerno', cursive, sans-serif;
  font-size: 24px;
  line-height: 1;
}

.header-logo .-jp {
  display: block;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
}

.header-btn {
  width: 20px;
  height: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.header-btn:before,
.header-btn:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #000;
  position: absolute;
  transition: 0.3s;
  left: 0;
}

.header-btn:before {
  top: 0;
}

.header-btn:after {
  bottom: 0;
}

.header-btn:hover:before,
.header-btn:hover:after {
  background-color: #ee3281;
}

.header-btn:hover:before {
  top: 1px;
}

.header-btn:hover:after {
  bottom: 1px;
}

@media screen and (max-width:768px){

  .header-wrapper {
    width: 90%;
    padding: 5% 0;
  }

}


/* main */

.main {
  padding: 80px 0;
  background-color: #f3f3f3;
}

@media screen and (max-width:768px){

  .main {
    padding: 10% 0 12% 0;
  }

}


/* ttl */

.ttl {
  margin: 0 0 60px 0;
}

.ttl-en {
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  margin: 0 0 10px 0;
}

.ttl-jp {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

@media screen and (max-width:768px){

  .ttl {
    margin: 0 0 5% 0;
  }

  .ttl-en {
    font-size: 30px;
    margin: 0 0 2% 0;
  }

  .ttl-jp {
    font-size: 16px;
  }

}


/* lead */

.lead {
  margin: 0 0 45px 0;
}

.lead-item {
  margin: 0 0 1em 0;
}

.lead-item:last-child {
  margin: 0;
}


@media screen and (max-width:768px){

  .lead {
    margin: 0 0 10% 0;
  }

}

/* footer */

.footer {
  padding: 15px;
}

.footer-copyright {
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width:768px){

  .footer {
    padding: 3%;
    text-align: center;
  }

}


/* parts */

.-btn01 {
  display: block;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 20px 0;
  line-height: 1;
  transition: 0.3s;
  margin: 0 10px;
  text-decoration: none;
}

.-btn01.-stop {
  background-color: #ccc;
  border-color: #ccc;
  color: #999;
}

.-btn01:hover {
  border-color: #000;
  background-color: #fff;
  color: #000;
}

.-btn01.-stop:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #999;
}

@media screen and (max-width:768px){

  .-btn01 {
    border: 2px solid #000;
    padding: 4% 0;
    margin: 0 2%;
  }

}