/* contact */

.contact {
}

.contact a {
}


@media screen and (max-width:768px){}

/* - contact-step */

.contact-step {
  width: 412px;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.contact-step:after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #e5e5e5;
}

.contact-step-item {
  display: block;
  text-align: center;
  position: relative;
}

.contact-step-item i {
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 9px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  margin: 0 auto 10px;
}

.contact-step-item i:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.contact-step-item span {
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #b8b8b8;
  margin: 0 0 10px 0;
  display: block;
}

.contact-step-item.-current span {
  color: #000;
}

.contact-step-item.-current i:after {
  background-color: #000;
}

@media screen and (max-width: 768px) {

  .contact-step {
    width: 225px;
    margin: 0 auto 31px;
  }

  .contact-step:after {
    bottom: 16px;
  }

  .contact-step-item:after {
    top: 5px;
  }

  .contact-step-item i {
    width: 11px;
    height: 11px;
  }

  .contact-step-item i:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
  }

  .contact-step-item span {
    font-size: 12px;
    line-height: 1;
  }

}

/* - contact-table */

.contact-table {
  margin: 0 0 25px 0;
}

.contact-table-wrap {
  margin: 0 0 50px 0;
}

.contact-table-wrap:last-child {
  margin: 0;
}

.contact-table-ttl {
  font-weight: bold;
  /* padding: 0 20px; */
  margin: 0 0 10px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.contact-table-ttl:after {
  padding: 0 10px;
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #000;
  margin: 0 0 0 10px;
}

.contact-table-ttl.-required:after {
  content: "必須";
  border-color: #d00;
}

.contact-table-ttl.-any:after {
  content: "任意";
  border-color: #069;
}

.contact-table-cont {
  width: 100%;
  /* background-color: #fff; */
  /* padding: 20px 20px; */
  box-sizing: border-box;
}

.-confirm .contact-table-cont {
  background-color: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
}

.contact-table-cont .-error-message {
  font-size: 12px;
  color: #d00;
  margin: 10px 0 0 0;
}

.contact-table-cont .-note {
  display: block;
  font-size: 12px;
  margin: 10px 0 0 0;
}

.contact-consent {
  margin: 20px 0 0 0;
  text-align: center;
}

@media screen and (max-width:768px){

  .contact-table {
    margin: 0 0 15% 0;
  }
  
  .contact-table-wrap {
    margin: 0 0 10% 0;
  }
  
  .contact-table-ttl {
    margin: 0 0 2% 0;
  }

  .-confirm .contact-table-cont {
    padding: 3%;
  }
  
  .contact-table-cont .-error-message {
    margin: 2% 0 0 0;
  }
  
  .contact-table-cont .-note {
    margin: 2% 0 0 0;
  }
  
  .contact-consent {
    margin: 2% 0 0 0;
  }

}

/* - form ボタン */

.contact-btn {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
}

.contact-btn-item {
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width:768px){

  .contact-btn {
    margin: 6% 0 0 0;
  }

}

/* - input系のスタイル */

.contact .-input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  /* border-radius: 5px; */
  border: none;
  /* border-bottom: 1px solid #ccc; */
  font-size: 100%;
  background-color: #fff;
}

.contact .-checkbox {
}

.contact .-radio {
}

.contact .-select {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  /* border-radius: 5px; */
  font-size: 100%;
  background-color: #fff;
}

.contact .-textarea {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  /* border-radius: 5px; */
  height: 10em;
  font-size: 100%;
  background-color: #fff;
}

/* - radio-list */

.contact .-radio-list {
  display: flex;
  flex-wrap: wrap;
}

.contact .-radio-list-item {
  width: 33.333%;
}

@media screen and (max-width:768px){

  .contact .-radio-list-item {
    width: 100%;
  }

}

/* - checkbox-list */

.contact .-checkbox-list {
  display: flex;
  flex-wrap: wrap;
}

.contact .-checkbox-list-item {
  width: 33.333%;
}

@media screen and (max-width:768px){

  .contact .-checkbox-list-item {
    width: 100%;
  }

}

/* finish */

.finish {
  padding: 50px 0 100px 0;
}

.finish-copy {
  margin: 0 0 40px 0;
  text-align: center;
}

.finish-btn {
  display: flex;
  justify-content: center;
}

.finish-btn-item {
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width:768px){

  .finish {
    padding: 5% 0 10% 0;
  }

}