@media only screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

@media print, screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

body.swallow {
  @media print, screen and (min-width: 768px) {
    padding-top: 76.4px;
  }
}

h2.title01 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: 24px;
  }
}
.visual {
  @media print, screen and (min-width: 768px) {
    width: 100%;
  }
}
.visual-wrap {
  background: url("../img/bg_visual.jpg") no-repeat bottom center;
  background-size: cover;
  display: flex;
  padding: 5% 0;
  @media print, screen and (min-width: 768px) {
    transform: scale(.8);
    transition: 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    opacity: 0;
  }
  @media only screen and (max-width: 767px) {
    height: calc(100vh - 50px);
    min-height: 560px;
    padding: 30px 0;
  }

  &.is-show {
    @media print, screen and (min-width: 768px) {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.visual-inner {
  margin: auto;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }

  .visual-logo {
    img {
      max-width: 220px;
      @media only screen and (max-width: 767px) {
        max-width: 150px;
      }
    }
  }

  .visual-image {
    img {
      max-width: 500px;
      @media only screen and (max-width: 767px) {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

.about {
  width: 94%;
  max-width: 1200px;
  margin: auto;

  .about-check {
    text-align: center;
    color: #707070;
    font-size: 20px;
    margin-top: 50px;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
      margin-top: 40px;
    }
  }

  .about-banner {
    margin-top: 30px;
    text-align: center;
    @media only screen and (max-width: 767px) {
      margin-top: 20px;
    }

    a {
      display: inline-block;
    }

    img {
      @media only screen and (max-width: 767px) {
        max-width: 80%;
      }
    }
  }

  .title01 {
    margin-top: 80px;
    @media only screen and (max-width: 767px) {
      margin-top: 40px;
    }
  }

  .content {
    font-size: 29px;
    max-width: 1000px;
    width: 100%;
    font-weight: 500;
    line-height: 1.7em;
    margin: 60px auto 80px auto;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
      margin: 20px auto 60px auto;
    }
  }
}

.point01 {
  height: 750px;
  width: 100%;
  background: url("../img/bg_point01.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  @media print, screen and (min-width: 768px) {
    background-attachment: fixed;
  }
  @media only screen and (max-width: 767px) {
    height: auto;
    padding: 50px 0 200px 0;
    background-position: bottom left 36%;
  }

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 5%;
    @media only screen and (max-width: 767px) {
      position: static;
      width: 80%;
      margin: auto;
      padding-right: 0;
    }

    .lead {
      width: 100%;
      font-size: 50px;
      text-align: left;
      color: #fff;
      line-height: 1.3em;
      letter-spacing: 0.06em;
      @media only screen and (max-width: 767px) {
        font-size: 30px;
      }
    }

    .performance {
      width: 100%;
      font-size: 30px;
      text-align: left;
      color: #fff;
      margin-top: 10%;
      @media only screen and (max-width: 767px) {
        font-size: 24px;
      }
    }

    .content {
      width: 100%;
      font-size: 29px;
      text-align: left;
      color: #fff;
      margin-top: 10%;
      font-weight: 500;
      line-height: 1.6em;
      letter-spacing: 0.1em;
      @media only screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
}

.point02 {
  width: 100%;
  background: url("../img/bg_point02.jpg") no-repeat center center;
  background-size: cover;
  @media only screen and (max-width: 767px) {
    background-position: top right 15%;
  }

  .point02-image {
    background: url("../img/img_pointo02_01.png") no-repeat center center;
    background-position: right 50%;
    background-size: 50%;
    @media only screen and (max-width: 767px) {
      background-position: center bottom 20px;
      background-size: auto 320px;
      padding-bottom: 260px;
    }
  }

  .container {
    width: 94%;
    height: 750px;
    max-width: 1120px;
    margin: auto;
    position: relative;
    display: flex;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      height: auto;
      padding: 50px 0;
      width: 80%;
    }
  }

  .intro {
    width: 46%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .lead {
    width: 100%;
    font-size: 50px;
    line-height: 1.3em;
    letter-spacing: 0.06em;
    @media only screen and (max-width: 767px) {
      font-size: 30px;
    }
  }

  .content {
    width: 100%;
    font-size: 29px;
    line-height: 1.6em;
    letter-spacing: 0.1em;
    font-weight: normal;
    margin-top: 10%;
    text-align: justify;
    @media only screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
}

.feature {
  .title01 {
    margin-top: 100px;
    @media only screen and (max-width: 767px) {
      margin-top: 60px;
    }
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    max-width: 1120px;
    margin: auto;
    margin: 60px auto auto auto;
    @media only screen and (max-width: 767px) {
      margin-top: 30px;
    }

    li {
      width: 47%;
      margin: 0 0 40px 6%;
      font-size: 29px;
      font-weight: 500;
      line-height: 1.6em;
      text-align: justify;
      opacity: 0;
      @media only screen and (max-width: 767px) {
        font-size: 13px;
        margin-bottom: 30px;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }
    }

    .photo {
      img {
        width: 100%;
      }
    }
  }
}

.spec {
  .title01 {
    margin-top: 60px;
    @media only screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }
  .spec-data {
    width: 94%;
    max-width: 1200px;
    margin: 60px auto auto auto;
    @media only screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }
}

.swallow-contact {
  background: #2B2B33;
  margin-top: 100px;
  @media only screen and (max-width: 767px) {
    margin-top: 60px;
  }

  .contact-wrap {
    position: relative;
    height: 0;
    padding-top: 37.1%;
    @media only screen and (max-width: 767px) {
      padding-top: 60%;
    }

    &:after {
      content: "";
      background: url("../img/bg_contact.png") no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 50%;
      height: 100%;
      margin-left: 50%;
      background-size: contain;
      @media only screen and (max-width: 767px) {
        background-size: cover;
        width: 55%;
        margin-left: 45%;
      }
    }
  }

  .contact-inner {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
  }

  .contact-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    color: #fff;
    margin: 5% 0 5% 5%;
    font-weight: 500;

    .lead {
      font-size: 30px;
      @media only screen and (max-width: 1000px) {
        font-size: 20px;
      }
      @media only screen and (max-width: 767px) {
        font-size: 12px;
      }
    }

    .content {
      font-size: 40px;
      margin-top: 10px;
      text-align: center;
      @media only screen and (max-width: 1000px) {
        font-size: 30px;
      }
      @media only screen and (max-width: 767px) {
        font-size: 16px;
      }
    }

    .link {
      width: 80%;
      max-width: 430px;
      margin-top: 30px;
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.load-fade {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

table.layout01 {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    &:nth-child(odd) {
      background-color: rgba(0,0,50,.02);
    }
  }

  th, td {
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
  }

  th {
    min-width: 50px;
    font-weight: bold;
  }

  td {
    border-top: 1px solid rgba(34,36,38,.1);
  }
}

.btn01 {
  width: 100%;
  display: block;
  background: linear-gradient(20deg, #ff1a1a 30%, #ff9e6b);
  border-radius: 100px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 29px 10px;
  @media only screen and (max-width: 1000px) {
    font-size: 20px;
    padding: 20px 10px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    padding: 15px 10px;
  }

  &:hover {
    color: #fff;
    opacity: 0.7;
  }
}

.mask-bg {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: color 0ms 450ms;
}
.mask-bg::after {
  background: #2B2B33;
  bottom: -1px;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
}

.mask-bg.is-show {
  color: #000;
}

.point01 .mask-bg.is-show {
  color: #fff;
}

.mask-bg.is-show::after {
  animation: mask-bg 0.8s cubic-bezier(0.8, 0, 0.170, 1);
}
 
@keyframes mask-bg {
  0% {
    transform:translate(-100%, 0);
  }
  40%, 60% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(100%, 0);
  }
}

.fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-list li.is-show:nth-child(1) {
  animation: fadeItem 0.5s ease 0.5s 1 forwards;
}
.feature-list li.is-show:nth-child(2) {
  animation: fadeItem 0.5s ease 1s 1 forwards;
}
.feature-list li.is-show:nth-child(3) {
  animation: fadeItem 0.5s ease 1.5s 1 forwards;
}
.feature-list li.is-show:nth-child(4) {
  animation: fadeItem 0.5s ease 2s 1 forwards;
}

@keyframes fadeItem {
  100% {
    opacity: 1;
  }
}





