/* contact */

.contact {
  background-color: #f3f3f3;
  padding: 45px 0;
}

.contact a {
}

.contact-table {
}

.contact-table-wrap {
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
}

.contact-table-ttl {
  font-weight: bold;
  width: 240px;
  flex-shrink: 0;
}

.contact-table-ttl:before {
  padding: 5px 10px;
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #000;
  margin: 0 10px 0 0;
}

.contact-table-ttl.-required:before {
  content: "必須";
  border-color: #d00;
}

.contact-table-ttl.-any:before {
  content: "任意";
  border-color: #069;
}

.contact-table-cont {
  width: 100%;
}

.contact-table-cont .-error-message {
  font-size: 12px;
  color: #d00;
  margin: 10px 0 0 0;
}

.contact-table-cont .-note {
  display: block;
  font-size: 12px;
  margin: 10px 0 0 0;
}

.contact-consent {}

@media screen and (max-width:768px){

}

/* - form ボタン */

.contact-btn {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
}

.contact-btn-item {
  display: block;
  width: 300px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 20px 0;
  line-height: 1;
  transition: 0.3s;
  margin: 0 10px;
}

.contact-btn-item.-stop {
  background-color: #ccc;
  border-color: #ccc;
  color: #999;
}

.contact-btn-item:hover {
  border-color: #000;
  background-color: #fff;
  color: #000;
}

.contact-btn-item.-stop:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #999;
}

@media screen and (max-width:768px){

}

/* - input系のスタイル */

.contact .-input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 100%;
}

.contact .-checkbox {
}

.contact .-radio {
}

.contact .-select {
  border: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 5px;
  font-size: 100%;
}

.contact .-textarea {
  border: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  height: 10em;
  font-size: 100%;
}

@media screen and (max-width:768px){

}

/* finish */

.finish {
  padding: 100px 0;
  background-color: #f0f0f0;
}

.finish-copy {
  margin: 0 0 40px 0;
  text-align: center;
}

.finish-btn {
  display: flex;
  justify-content: center;
}

.finish-btn-item {
  display: block;
  width: 300px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 20px 0;
  line-height: 1;
  transition: 0.3s;
  margin: 0 10px;
}

.finish-btn-item:hover {
  border-color: #000;
  background-color: #fff;
  color: #000;
}

@media screen and (max-width:768px){

}