$sp: "screen and (max-width: 767.90px)";
$pc: "screen and (min-width: 768px)";

body#pickup {
  .conts {
    position: relative;
    background: #F1F4F9;
    padding: 80px 0 180px;

    @media #{$sp} {
      padding: 40px 0 80px;
    }

    &:after {
      content: "";
      background: url("../img/message_town_bg@2x.png") repeat-x;
      background-size: contain;
      width: 100%;
      height: 80px;
      position: absolute;
      bottom: -2px;
      left: 0;
      @media #{$sp} {
        background-size: cover;
        height: 50px;
      }
    }
  }

  .wrap {
    width: 1000px;
    max-width: 94%;
    margin: auto;
  }

  .pagination {
    margin-top: 60px;
    @media #{$sp} {
      margin-top: 20px;
    }

    li {
      font-size: 18px;
      color: #00256B;
      margin: 0 5px;
      @media #{$sp} {
        font-size: 15px;
      }
    }

    a {
      color: #00256B;
      padding: 10px 5px;
      transition: 0s;

      &:hover {
        border-bottom: 1px solid #00256B;
      }
    }

    .current {
      padding: 10px 5px;
      border-bottom: 1px solid #00256B;
    }

    .page-numbers {
      display: flex;
      justify-content: center;

      &.dots {
        display: flex;
        height: 100%;
        align-items: center;
      }
    }

    .screen-reader-text {
      display: none;
    }
  }

  &.page {
    .pageBack {
      text-align: right;
      font-size: 18px;
      margin-right: 50px;
      @media #{$sp} {
        font-size: 16px;
        margin-right: 0;
      }

      a {
        color: #00256B;

        span {
          position: relative;
          padding-left: 20px;

          &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-top: 2px solid #00256B;
            border-right: 2px solid #00256B;
            transform: rotate(225deg);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
          }
        }
      }
    }

    h3.page-title {
      background: #00256B;
      color: #fff;
      font-size: 40px;
      padding: 5px 15px;
      margin-top: 40px;
      line-height: 1.4em;
      border: none;
      @media #{$sp} {
        font-size: 28px;
        margin-top: 20px;
      }

      &:after {
        content: none;
      }
    }

    .page-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
      @media #{$sp} {
        flex-direction: column;
        margin-top: 20px;
      }

      .block-photo {
        width: 49%;
        @media #{$sp} {
          width: 100%;
        }

        .main-slider {
          list-style: none;

          img {
            width: 100%;
          }
        }

        .thumbnail-slider {
          list-style: none;

          li {
            width: 32% !important;
            margin: 2% 2% 0 0;
            cursor: pointer;

            &:nth-child(3n) {
              margin-right: 0;
            }

            &.slick-current {
              position: relative;

              &:after {
                content: "";
                border: 2px solid #b4001e;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
          }

          img {
            width: 100%;
          }

          .slick-track {
            transform: unset !important;
            width: 100% !important;
          }
        }
      }

      .block-list {
        width: 49%;
        @media #{$sp} {
          width: 100%;
          margin-top: 30px;
        }

        dl {
          line-height: 1.7em;

          dt {
            font-size: 20px;
            border-bottom: 2px solid #00256B;
            color: #00256B;
            margin-bottom: 5px;
            padding-bottom: 5px;
            @media #{$sp} {
              font-size: 16px;
            }
          }

          dd {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 500;
            @media #{$sp} {
              font-size: 16px;
            }

            span {
              font-size: 40px;
              line-height: 1em;
              @media #{$sp} {
                font-size: 28px;
              }
            }

            &.bold {
              font-weight: bold;
            }

            &.red {
              color: #b4001e;
            }
          }
        }

        .carlist-notes {
          margin-bottom: 15px;

          .carlist-notes-info {
            display: flex;
            flex-wrap: wrap;

            .title {
              width: 5em;
            }

            .body {
              width: calc(100% - 5em);
            }
          }
        }
      }
    }

    .notes-block {
      background: #00256B;
      color: #fff;
      font-size: 18px;
      padding: 15px 20px;
      margin-top: 40px;
      line-height: 1.7em;
      @media #{$sp} {
        font-size: 16px;
        margin-top: 30px;
      }
    }

    .bnr-block {
      margin-top: 30px;
      @media #{$sp} {
        margin-top: 20px;
      }

      a {
        display: block;
      }

      img {
        width: 100%;
        vertical-align: bottom;
      }
    }

    .new-post {
      margin-top: 100px;
      @media #{$sp} {
        margin-top: 50px;
      }

      .new-title {
        font-size: 40px;
        border-bottom: 10px solid #00256B;
        margin-bottom: 30px;
        @media #{$sp} {
          font-size: 28px;
          border-bottom: 5px solid #00256B;
          margin-bottom: 20px;
        }
      }
    }
  }

  .form_stock {
    margin: 0;
    padding: 0;
  }
}

.carlist {
  > ul {
    display: flex;
    flex-wrap: wrap;

    > li {
      width: 32%;
      margin: 0 0 40px 2%;
      @media screen and (max-width: 1016px) {
        width: 48%;
        margin-left: 4%;
      }
      @media #{$sp} {
        width: 100%;
        margin: 0 0 30px;
      }

      &:nth-of-type(3n-2) {
        margin-left: 0;
        @media screen and (max-width: 1016px) {
          margin-left: 4%;
        }
        @media #{$sp} {
          margin-left: 0;
        }
      }

      &:nth-child(odd) {
        @media screen and (max-width: 1016px) {
          margin-left: 0;
        }
      }

      > a {
        display: block;
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        border: 3px solid #00256B;
        height: 100%;

        &:hover {
          box-shadow: 4px 4px 0px #aaa;

          .carlist-link {
            background: #fff;
            color: #b4001e;

            span {
              &:after {
                border-color: #b4001e;
              }
            }
          }
        }
      }
    }
  }

  .carlist-inner {
    .carlist-photo {
      margin-bottom: 10px;

      img {
        vertical-align: bottom;
        width: 100%;
      }
    }

    .carlist-title {
      line-height: 1.6em;

      .carlist-title-name {
        font-size: 22px;
        color: #00256B;
      }

      .carlist-title-grade {
        font-size: 20px;
        color: #00256B;
      }
    }

    dl.carlist-price {
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      line-height: 1.6em;

      dt {
        width: 55%;
        border-bottom: 2px solid #00256B;
        font-size: 12px;
        color: #00256B;
      }

      dd {
        width: 45%;
        border-bottom: 2px solid #00256B;
        font-size: 12px;
        text-align: right;
        margin-top: 10px;

        span {
          font-size: 24px;
        }

        &.red {
          color: #b4001e;
        }
      }
    }

    .carlist-notes {
      border-bottom: 2px solid #00256B;
      padding-bottom: 7px;

      dl {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;

        dt {
          width: 7em;
          margin-top: 7px;
        }

        dd {
          width: calc(100% - 7em);
          margin-top: 5px;
        }
      }

      .security {
        font-size: 12px;
        margin-top: 7px;
      }
    }

    dl.carlist-details {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      line-height: 1.6em;
      font-size: 12px;

      dt {
        width: 7em;
        border-bottom: 2px solid #00256B;
        padding: 7px 0;
        color: #00256B;
        display: flex;
        align-items: center;

        &:last-of-type {
          border-bottom: none;
        }
      }

      dd {
        width: calc(100% - 7em);
        border-bottom: 2px solid #00256B;
        padding: 7px 0;
        display: flex;
        align-items: center;
        font-weight: 500;

        &:last-of-type {
          border-bottom: none;
        }
      }
    }

    .carlist-link {
      background: #b4001e;
      color: #fff;
      font-size: 18px;
      text-align: center;
      padding: 5px 0;
      border: 1px solid #b4001e;
      margin-top: 10px;
      transition: .3s;

      span {
        position: relative;
        padding-right: 15px;

        &:after {
          content: "";
          display: inline-block;
          width: 0.5em;
          height: 0.5em;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg);
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          transition: .3s;
        }
      }
    }
  }
}

.btn-block {
  margin: 40px auto 0;
  max-width: 100%;
  width: 460px;
  @media #{$sp} {
    margin-top: 20px;
    width: 100%;
  }

  button,
  a {
    width: 100%;
    display: block;
    background: #b4001e;
    color: #fff;
    text-align: center;
    font-size: 28px;
    padding: 18px 0;
    border: 1px solid #b4001e;
    transition: .3s;
    @media #{$sp} {
      font-size: 20px;
    }

    span {
      position: relative;
      padding-right: 15px;

      &:after {
        content: "";
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: .3s;
      }
    }

    &:hover {
      background: #fff;
      color: #b4001e;

      span {
        &:after {
          border-color: #b4001e;
        }
      }
    }
  }
}

body.home {
  #selectcar {
    background: linear-gradient(#00a6ff 10%, #0079cb 90%);
    padding-bottom: 100px;
    @media #{$sp} {
      padding-bottom: 50px;
    }

    .selectcar-inner {
      width: 100%;
      max-width: 94%;
      margin: auto;

      h2.tit01 {
        color: #ffff00;
        padding: 100px 0 45px;
        @media #{$sp} {
          padding: 60px 0 30px;
        }
      }

      .btn-block {
        @media #{$sp} {
          margin-top: 0;
        }

        a {
          background: #ffff00;
          color: #012160;
          border-color: #ffff00;
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);

          span {
            &:after {
              border-color: #012160;
            }
          }

          &:hover {
            background: #012160;
            color: #ffff00;

            span {
              &:after {
                border-color: #ffff00;
              }
            }
          }
        }
      }
    }
  }

  section.sec01 {
    .wrapper {
      h2.tit {
        img {
          margin: 0 0 2px 10px;
          @media #{$sp} {
            margin: 5px 0 5px 0;
            max-width: 95%;
          }
        }
      }
    }
  }

}