@media only screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  body.swallow {
    padding-top: 76.4px;
  }
}

h2.title01 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  h2.title01 {
    font-size: 24px;
  }
}

@media print, screen and (min-width: 768px) {
  .visual {
    width: 100%;
  }
}

.visual-wrap {
  background: url("../img/bg_visual.jpg") no-repeat bottom center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}
@media print, screen and (min-width: 768px) {
  .visual-wrap {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .visual-wrap {
    height: calc(100vh - 50px);
    min-height: 560px;
    padding: 30px 0;
  }
}
@media print, screen and (min-width: 768px) {
  .visual-wrap.is-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.visual-inner {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 767px) {
  .visual-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.visual-inner .visual-logo img {
  max-width: 220px;
}
@media only screen and (max-width: 767px) {
  .visual-inner .visual-logo img {
    max-width: 150px;
  }
}
.visual-inner .visual-image img {
  max-width: 500px;
}
@media only screen and (max-width: 767px) {
  .visual-inner .visual-image img {
    width: 100%;
    max-width: 300px;
  }
}

.about {
  width: 94%;
  max-width: 1200px;
  margin: auto;
}
.about .about-check {
  text-align: center;
  color: #707070;
  font-size: 20px;
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  .about .about-check {
    font-size: 18px;
    margin-top: 40px;
  }
}
.about .about-banner {
  margin-top: 30px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .about .about-banner {
    margin-top: 20px;
  }
}
.about .about-banner a {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .about .about-banner img {
    max-width: 80%;
  }
}
.about .title01 {
  margin-top: 80px;
}
@media only screen and (max-width: 767px) {
  .about .title01 {
    margin-top: 40px;
  }
}
.about .content {
  font-size: 29px;
  max-width: 1000px;
  width: 100%;
  font-weight: 500;
  line-height: 1.7em;
  margin: 60px auto 80px auto;
}
@media only screen and (max-width: 767px) {
  .about .content {
    font-size: 18px;
    margin: 20px auto 60px auto;
  }
}

.point01 {
  height: 750px;
  width: 100%;
  background: url("../img/bg_point01.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .point01 {
    background-attachment: fixed;
  }
}
@media only screen and (max-width: 767px) {
  .point01 {
    height: auto;
    padding: 50px 0 200px 0;
    background-position: bottom left 36%;
  }
}
.point01 .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 5%;
}
@media only screen and (max-width: 767px) {
  .point01 .container {
    position: static;
    width: 80%;
    margin: auto;
    padding-right: 0;
  }
}
.point01 .container .lead {
  width: 100%;
  font-size: 50px;
  text-align: left;
  color: #fff;
  line-height: 1.3em;
  letter-spacing: 0.06em;
}
@media only screen and (max-width: 767px) {
  .point01 .container .lead {
    font-size: 30px;
  }
}
.point01 .container .performance {
  width: 100%;
  font-size: 30px;
  text-align: left;
  color: #fff;
  margin-top: 10%;
}
@media only screen and (max-width: 767px) {
  .point01 .container .performance {
    font-size: 24px;
  }
}
.point01 .container .content {
  width: 100%;
  font-size: 29px;
  text-align: left;
  color: #fff;
  margin-top: 10%;
  font-weight: 500;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 767px) {
  .point01 .container .content {
    font-size: 20px;
  }
}

.point02 {
  width: 100%;
  background: url("../img/bg_point02.jpg") no-repeat center center;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .point02 {
    background-position: top right 15%;
  }
}
.point02 .point02-image {
  background: url("../img/img_pointo02_01.png") no-repeat center center;
  background-position: right 50%;
  background-size: 50%;
}
@media only screen and (max-width: 767px) {
  .point02 .point02-image {
    background-position: center bottom 20px;
    background-size: auto 320px;
    padding-bottom: 260px;
  }
}
.point02 .container {
  width: 94%;
  height: 750px;
  max-width: 1120px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .point02 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 50px 0;
    width: 80%;
  }
}
.point02 .intro {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .point02 .intro {
    width: 100%;
  }
}
.point02 .lead {
  width: 100%;
  font-size: 50px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
}
@media only screen and (max-width: 767px) {
  .point02 .lead {
    font-size: 30px;
  }
}
.point02 .content {
  width: 100%;
  font-size: 29px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 10%;
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  .point02 .content {
    font-size: 20px;
  }
}

.feature .title01 {
  margin-top: 100px;
}
@media only screen and (max-width: 767px) {
  .feature .title01 {
    margin-top: 60px;
  }
}
.feature .feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 94%;
  max-width: 1120px;
  margin: auto;
  margin: 60px auto auto auto;
}
@media only screen and (max-width: 767px) {
  .feature .feature-list {
    margin-top: 30px;
  }
}
.feature .feature-list li {
  width: 47%;
  margin: 0 0 40px 6%;
  font-size: 29px;
  font-weight: 500;
  line-height: 1.6em;
  text-align: justify;
  opacity: 0;
}
@media only screen and (max-width: 767px) {
  .feature .feature-list li {
    font-size: 13px;
    margin-bottom: 30px;
  }
}
.feature .feature-list li:nth-child(odd) {
  margin-left: 0;
}
.feature .feature-list .photo img {
  width: 100%;
}

.spec .title01 {
  margin-top: 60px;
}
@media only screen and (max-width: 767px) {
  .spec .title01 {
    margin-top: 30px;
  }
}
.spec .spec-data {
  width: 94%;
  max-width: 1200px;
  margin: 60px auto auto auto;
}
@media only screen and (max-width: 767px) {
  .spec .spec-data {
    margin-top: 30px;
  }
}

.swallow-contact {
  background: #2B2B33;
  margin-top: 100px;
}
@media only screen and (max-width: 767px) {
  .swallow-contact {
    margin-top: 60px;
  }
}
.swallow-contact .contact-wrap {
  position: relative;
  height: 0;
  padding-top: 37.1%;
}
@media only screen and (max-width: 767px) {
  .swallow-contact .contact-wrap {
    padding-top: 60%;
  }
}
.swallow-contact .contact-wrap:after {
  content: "";
  background: url("../img/bg_contact.png") no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background-size: contain;
}
@media only screen and (max-width: 767px) {
  .swallow-contact .contact-wrap:after {
    background-size: cover;
    width: 55%;
    margin-left: 45%;
  }
}
.swallow-contact .contact-inner {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swallow-contact .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin: 5% 0 5% 5%;
  font-weight: 500;
}
.swallow-contact .contact-block .lead {
  font-size: 30px;
}
@media only screen and (max-width: 1000px) {
  .swallow-contact .contact-block .lead {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .swallow-contact .contact-block .lead {
    font-size: 12px;
  }
}
.swallow-contact .contact-block .content {
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .swallow-contact .contact-block .content {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .swallow-contact .contact-block .content {
    font-size: 16px;
  }
}
.swallow-contact .contact-block .link {
  width: 80%;
  max-width: 430px;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .swallow-contact .contact-block .link {
    width: 100%;
    margin-top: 20px;
  }
}

.load-fade {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.load-fade.is-show {
  opacity: 1;
  visibility: visible;
}

table.layout01 {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table.layout01 tr:nth-child(odd) {
  background-color: rgba(0, 0, 50, 0.02);
}
table.layout01 th, table.layout01 td {
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
}
table.layout01 th {
  min-width: 50px;
  font-weight: bold;
}
table.layout01 td {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.btn01 {
  width: 100%;
  display: block;
  background: linear-gradient(20deg, #ff1a1a 30%, #ff9e6b);
  border-radius: 100px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 29px 10px;
}
@media only screen and (max-width: 1000px) {
  .btn01 {
    font-size: 20px;
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 767px) {
  .btn01 {
    font-size: 14px;
    padding: 15px 10px;
  }
}
.btn01:hover {
  color: #fff;
  opacity: 0.7;
}

.mask-bg {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0ms 450ms;
  transition: color 0ms 450ms;
}

.mask-bg::after {
  background: #2B2B33;
  bottom: -1px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.mask-bg.is-show {
  color: #000;
}

.point01 .mask-bg.is-show {
  color: #fff;
}

.mask-bg.is-show::after {
  -webkit-animation: mask-bg 0.8s cubic-bezier(0.8, 0, 0.17, 1);
          animation: mask-bg 0.8s cubic-bezier(0.8, 0, 0.17, 1);
}

@-webkit-keyframes mask-bg {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  40%, 60% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes mask-bg {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  40%, 60% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.feature-list li.is-show:nth-child(1) {
  -webkit-animation: fadeItem 0.5s ease 0.5s 1 forwards;
          animation: fadeItem 0.5s ease 0.5s 1 forwards;
}

.feature-list li.is-show:nth-child(2) {
  -webkit-animation: fadeItem 0.5s ease 1s 1 forwards;
          animation: fadeItem 0.5s ease 1s 1 forwards;
}

.feature-list li.is-show:nth-child(3) {
  -webkit-animation: fadeItem 0.5s ease 1.5s 1 forwards;
          animation: fadeItem 0.5s ease 1.5s 1 forwards;
}

.feature-list li.is-show:nth-child(4) {
  -webkit-animation: fadeItem 0.5s ease 2s 1 forwards;
          animation: fadeItem 0.5s ease 2s 1 forwards;
}

@-webkit-keyframes fadeItem {
  100% {
    opacity: 1;
  }
}

@keyframes fadeItem {
  100% {
    opacity: 1;
  }
}