/*=============================================
　　色関連
==============================================*/
/*white*/
$cl-white: #fff;

/*black*/
$cl-black: #000;

/*blue*/
$cl-blue01: #00256B;
$cl-blue02: #F1F4F9;


/*=============================================
　　フォント関連
==============================================*/
$ff-base: "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", 'Hiragino Sans', "ヒラギノ角ゴ", Meiryo UI, "メイリオ UI", Meiryo, "メイリオ", Arial, Helvetica, "MS PGothic", "ＭＳ Ｐゴシック", Osaka, sans-serif;
$ff-lato: 'Lato', sans-serif;

/*=============================================
　　その他
==============================================*/
@mixin float-clear {
  overflow: hidden;
  zoom: 1;
}
